@using SkillBridge_System_Prototype.Enums;
@model CreateProgramViewModel
@{
    ViewData["Title"] = "Create Program";
}

<h1 class="h4">@ViewData["Title"]</h1>

<form method="post">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="card-header" style="border: 1px solid rgba(0,0,0,.125);">
                    <label asp-for="Is_Active">Program Status:</label>&nbsp;
                    <input id="is-active-toggle" type="checkbox" asp-for="Is_Active" data-toggle="toggle" data-onstyle="success outline-dark" data-offstyle="secondary outline-dark" data-on="Active" data-off="Inactive" data-size="sm" data-style="fast" class="is-active-toggle" checked>
                    <div class="mt-2 bold">Switching the program to <span class="bold" style="color: #6c757d;">INACTIVE</span> will remove the program from the SkillBridge site</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Date_Authorized" value="01-01-01 00:00:00.0000000" />
            <input type="hidden" asp-for="Mou_Link" value="http://www.moulink.com" />
            <input type="hidden" asp-for="Mou_Creation_Date" value="01-01-01 00:00:00.0000000" />
            <input type="hidden" asp-for="Mou_Expiration_Date" value="01-01-01 00:00:00.0000000" />
            <input type="hidden" asp-for="Nationwide" value="false" />
            <input type="hidden" asp-for="Has_Multiple_Locations" value="false" />
            <input type="hidden" id="NeedsTrainingPlan" name="NeedsTrainingPlan" value="true" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" id="org-container">
                        <label asp-for="Organization_Id">Organization</label><span class="req">&nbsp;*</span>
                        <!--<input type="hidden" asp-for="OrganizationId" />-->
                        <select id="org-dropdown" class="browser-default custom-select" asp-for="Organization_Id" asp-items="@(new SelectList(ViewBag.Orgs,"Id","Name"))" size="1" style="width:100%;max-width:100%">
                            <option value="" selected>Select</option>
                        </select>
                        <span asp-validation-for="Organization_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Program_Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Program_Name" class="form-control" data-toggle="tooltip" title="Name of the program" />
                        <span asp-validation-for="Program_Name" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                <label asp-for="Organization_Id"></label>
                <input asp-for="Organization_Id" class="form-control" />
                <span asp-validation-for="Organization_Id" class="text-danger"></span>
            </div>-->
                    <div class="form-group">
                        <label asp-for="Lhn_Intake_Ticket_Id"></label>
                        <input asp-for="Lhn_Intake_Ticket_Id" class="form-control" data-toggle="tooltip" title="LHN Intake Ticket Number" />
                        <span asp-validation-for="Lhn_Intake_Ticket_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Intake_Form_Version"></label>
                        <input asp-for="Intake_Form_Version" class="form-control" data-toggle="tooltip" title="Which version of the QuestionPro intake form did they fill out" />
                        <span asp-validation-for="Intake_Form_Version" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Qp_Intake_Submission_Id"></label>
                        <input asp-for="Qp_Intake_Submission_Id" class="form-control" data-toggle="tooltip" title="The ID of the QuestionPro intake form submission" />
                        <span asp-validation-for="Qp_Intake_Submission_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Qp_Location_Submission_Id"></label>
                        <input asp-for="Qp_Location_Submission_Id" class="form-control" data-toggle="tooltip" title="QuestionPro location submission ID" />
                        <span asp-validation-for="Qp_Location_Submission_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lhn_Location_Ticket_Id"></label>
                        <input asp-for="Lhn_Location_Ticket_Id" class="form-control" data-toggle="tooltip" title="LiveHelpNow location ticket ID" />
                        <span asp-validation-for="Lhn_Location_Ticket_Id" class="text-danger"></span>
                    </div>

                    <!--<div class="form-group">
                <label asp-for="Date_Authorized"></label><span class="req">&nbsp;*</span>
                <input asp-for="Date_Authorized" class="form-control" data-toggle="tooltip" title="What date was this Program MOU authorized" />
                <span asp-validation-for="Date_Authorized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mou_Link"></label><span class="req">&nbsp;*</span>
                <input asp-for="Mou_Link" class="form-control" data-toggle="tooltip" title="URL link to actual MOU packet" />
                <span asp-validation-for="Mou_Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mou_Creation_Date"></label><span class="req">&nbsp;*</span>
                <input asp-for="Mou_Creation_Date" class="form-control" data-toggle="tooltip" title="Date the MOU was created" />
                <span asp-validation-for="Mou_Creation_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mou_Expiration_Date"></label><span class="req">&nbsp;*</span>
                <input asp-for="Mou_Expiration_Date" class="form-control" data-toggle="tooltip" title="Date the MOU will expire" />
                <span asp-validation-for="Mou_Expiration_Date" class="text-danger"></span>
            </div>-->
                    <div class="form-group">
                        <label asp-for="Notes"></label>
                        <textarea asp-for="Notes" class="form-control" data-toggle="tooltip" title="Internal notes on the organization, only for analysts/admins"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                <label asp-for="Participation_Populations"></label><span class="req">&nbsp;*</span>
                <input asp-for="Participation_Populations" class="form-control" data-toggle="tooltip" title="Who can participate" />
                <span asp-validation-for="Participation_Populations" class="text-danger"></span>
            </div>-->
                    <div class="form-group">
                        <label asp-for="Populations_List"></label>
                        <select asp-for="Populations_List"
                                class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Participation_Population_List,"Id","Name"))" multiple data-toggle="tooltip" title="Who is allowed to participate in the SkillBridge program (select all that apply)" aria-label="Who is allowed to participate in the SkillBridge program (select all that apply)">
                        </select>
                        <span asp-validation-for="Populations_List" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Delivery_Method_List"></label>
                        <select asp-for="Delivery_Method_List"
                                class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Delivery_Method_List,"Id","Name"))" multiple data-toggle="tooltip" title="The format in which the SkillBridge program is offered" aria-label="The format in which the SkillBridge program is offered">
                        </select>
                        <span asp-validation-for="Delivery_Method_List" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group" id="delivery-method-select-container">
            <label asp-for="Delivery_Method">Delivery Method</label>
            <!--<input type="hidden" asp-for="OrganizationId" />->
                    <select id="delivery-method-dropdown" class="browser-default custom-select" asp-for="Delivery_Method" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="The format in which the SkillBridge program is offered">
                        <option value="0">In-person</option>
                        <option value="1">Online</option>
                        <option value="2">Hybrid</option>
                    </select>
                    <span asp-validation-for="Delivery_Method" class="text-danger"></span>
                </div>-->
                    <!--<div class="form-group">
                <label asp-for="Delivery_Method"></label><span class="req">&nbsp;*</span>
                <input asp-for="Delivery_Method" class="form-control" data-toggle="tooltip" title="The format in which the SkillBridge program is offered (select all that apply)" />
                <span asp-validation-for="Delivery_Method" class="text-danger"></span>
            </div>-->
                    <div class="form-group">
                        <label asp-for="States_Of_Program_Delivery"></label>
                        <input asp-for="States_Of_Program_Delivery" class="form-control" data-toggle="tooltip" title="State where the SkillBridge program is offered (select all that apply)" />
                        <span asp-validation-for="States_Of_Program_Delivery" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                <label asp-for="Participation_Populations"></label>
                <select asp-for="Participation_Populations"
                        class="form-control custom-select"
                        asp-items="Html.GetEnumSelectList<ParticipationPopulation>()" multiple data-toggle="tooltip" title="Who can participate">
                    <option value="-1">Select One</option>
                </select>
                <span asp-validation-for="Participation_Populations" class="text-danger"></span>
            </div>-->
                    <!--<div class="form-group">
                <label asp-for="Program_Duration"></label><span class="req">&nbsp;*</span>
                <input asp-for="Program_Duration" class="form-control" data-toggle="tooltip" title="Duration of the SkillBridge program in days" />
                <span asp-validation-for="Program_Duration" class="text-danger"></span>
            </div>-->
                    <div class="form-group" id="prog-duration-select-container">
                        <label asp-for="Program_Duration">Program Duration</label><span class="req">&nbsp;*</span>
                        <!--<input type="hidden" asp-for="OrganizationId" />-->
                        <select id="prog-duration-dropdown" class="browser-default custom-select" asp-for="Program_Duration" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="Duration of the SkillBridge program in days">
                            <option value="0">1 - 30 days</option>
                            <option value="1">31 - 60 days</option>
                            <option value="2">61 - 90 days</option>
                            <option value="3">91 - 120 days</option>
                            <option value="4">121 - 150 days</option>
                            <option value="5">151 - 180 days</option>
                            <option value="6">Individually Developed – not to exceed 40 hours</option>
                            <option value="7">Self-paced</option>
                        </select>
                        <span asp-validation-for="Program_Duration" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Opportunity_Type"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Opportunity_Type" class="form-control" data-toggle="tooltip" title="Type of training program" />
                        <span asp-validation-for="Opportunity_Type" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                <label asp-for="Job_Family"></label>
                <input asp-for="Job_Family" class="form-control" data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates (select all that apply)" />
                <span asp-validation-for="Job_Family" class="text-danger"></span>
            </div>-->
                    <div class="form-group">
                        <label asp-for="Job_Family_List"></label>
                        <select asp-for="Job_Family_List"
                                class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Job_Family_List,"Id","Name"))" multiple data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates (select all that apply)" aria-label="ONET Job Family to which the SkillBridge program relates (select all that apply)">
                        </select>
                        <span asp-validation-for="Job_Family_List" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                <label asp-for="Services_Supported"></label>
                <input asp-for="Services_Supported" class="form-control" data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" />
                <span asp-validation-for="Services_Supported" class="text-danger"></span>
            </div>-->
                    <div class="form-group">
                        <label asp-for="Services_Supported_List"></label><span class="req">&nbsp;*</span>
                        <select asp-for="Services_Supported_List"
                                class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Services_Supported_List,"Id","Name"))" multiple data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" aria-label="Military branch the SkillBridge program serves (select all that apply)" id="services-select">
                        </select>
                        <span asp-validation-for="Services_Supported_List" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enrollment_Dates"></label>
                        <input asp-for="Enrollment_Dates" class="form-control" data-toggle="tooltip" title="Enrollment dates for the SkillBridge program. Enter Continuous open enrollment or start/end dates (mm/dd/yy - mm/dd/yy)" />
                        <span asp-validation-for="Enrollment_Dates" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Program_Url"></label>
                        <input asp-for="Program_Url" class="form-control" data-toggle="tooltip" title="URL for the programs web page" />
                        <span asp-validation-for="Program_Url" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin_Poc_First_Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Admin_Poc_First_Name" class="form-control" data-toggle="tooltip" title="First name of POC" />
                        <span asp-validation-for="Admin_Poc_First_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin_Poc_Last_Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Admin_Poc_Last_Name" class="form-control" data-toggle="tooltip" title="Last name of POC" />
                        <span asp-validation-for="Admin_Poc_Last_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin_Poc_Email"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Admin_Poc_Email" class="form-control" data-toggle="tooltip" title="Email of POC" />
                        <span asp-validation-for="Admin_Poc_Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin_Poc_Phone"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Admin_Poc_Phone" class="form-control" data-toggle="tooltip" title="Phone number of POC" />
                        <span asp-validation-for="Admin_Poc_Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Public_Poc_Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Public_Poc_Name" class="form-control" data-toggle="tooltip" title="POC Name that appears on the SkillBridge web site" />
                        <span asp-validation-for="Public_Poc_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Public_Poc_Email"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Public_Poc_Email" class="form-control" data-toggle="tooltip" title="POC Email that appears on the SkillBridge web site" />
                        <span asp-validation-for="Public_Poc_Email" class="text-danger"></span>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Has_Consent" data-toggle="tooltip" title="Do we have consent to send correspondence to the POC">Has Consent
                            </label>
                            <span asp-validation-for="Has_Consent" class="text-danger"></span>
                        </div>
                    </div>
                    <!--<div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Has_Multiple_Locations" data-toggle="tooltip" title="Does this Program have multiple locations">Has Multiple Locations
                            </label>
                            <span asp-validation-for="Has_Multiple_Locations" class="text-danger"></span>
                        </div>
                    </div>-->
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Reporting_Form_2020" data-toggle="tooltip" title="Did this Program use the 2020 reporting form">Reporting Form 2020
                            </label>
                            <span asp-validation-for="Reporting_Form_2020" class="text-danger"></span>
                        </div>
                    </div>
                    <!--<div class="form-group form-inline">
                <div class="form-check mr-3">
                    <label class="form-check-label d-inline-block">
                        <input type="checkbox" class="form-check-input" asp-for="Nationwide" data-toggle="tooltip" title="Available in 3 or more states AND 2 or more regions (Cardinal Areas of US)">Nationwide
                    </label>
                    <span asp-validation-for="Nationwide" class="text-danger"></span>
                </div>
            </div>-->
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Online" data-toggle="tooltip" title="Is this program SOLELY online, if this is true, nationwide is true as well">Online
                            </label>
                            <span asp-validation-for="Online" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Support_Cohorts" data-toggle="tooltip" title="Can it be offered to 3 or more participants at once">Support Cohorts
                            </label>
                            <span asp-validation-for="Support_Cohorts" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Has_Intake" data-toggle="tooltip" title="Do we have a completed QuestionPro intake form from them">Has Intake
                            </label>
                            <span asp-validation-for="Has_Intake" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Location_Details_Available" data-toggle="tooltip" title="Are there any locations with opportunities?">Location Details Available
                            </label>
                            <span asp-validation-for="Location_Details_Available" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="For_Spouses" data-toggle="tooltip" title="1 is for spouse, 0 is not. Used for creation of spouses table">For Spouses
                            </label>
                            <span asp-validation-for="For_Spouses" class="text-danger"></span>
                        </div>
                    </div>
                    <!--<div class="form-group form-inline">
                <div class="form-check mr-3">
                    <label class="form-check-label d-inline-block">
                        <input type="checkbox" class="form-check-input" asp-for="Program_Status" data-toggle="tooltip" title="1 for active, 0 for inactive">Program Status
                    </label>
                    <span asp-validation-for="Program_Status" class="text-danger"></span>
                </div>
            </div>-->
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create Program</button>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>   <!--INTERFERES WITH DATATABLES FOR SOME -->

    <script type="text/javascript">
        $(document).ready(function () {

            $(".custom-select").select2();

            // Fix select2 508 issues
            $(".select2-selection").removeAttr("role");
            $(".select2-search__field").removeAttr("role");
            $(".select2-search__field").attr("aria-label", "textbox");
            $(".select2-search__field").attr("type", "text");

            // Bootstrap tooltips for select2
            $(".select2-container").tooltip({
                title: function () {
                    return $(this).prev().attr("data-original-title");
                },
                placement: "auto",
                animation: false
            });

            // Setup default dates
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $('input[type="date"]').val(today);

            // Set default service to all services
            $("#services-select").val([1]);
            $("#services-select").change();

            // Enable field change detection for submitting updates
            changeDetectionEnabled = true;  
            SetupChangeDetection();            
        });
    </script>
}