@using Microsoft.AspNetCore.Identity;
@model IEnumerable<SB_Program>

@{
    ViewBag.Title = "My Programs";
}

<h1>My Programs</h1>

<div class="row">
    <div class="col">
        <!--<ul>
            <li>To view your program's data, select the <img src="~/images/plus-icon.png" class="txt-plus-icon" data-toggle="tooltip" title="View Record" /> button</li>
            <li>To edit your program's data, select the <i class="fa fa-edit fa-fw edit-btn" data-toggle="tooltip" title="Edit Record"></i> button</li>
            <li>Once you're done editing your program's data, you'll see a <i class="fa fa-exclamation-circle fa-fw changed-field" data-toggle="tooltip" title="Pending change"></i> next to fields that were edited</li>
            <li>Any edits you make will first be reviewed by a SkillBridge Analyst before being posted on the public SkillBridge website</li>
            <li>If your edits are not approved, you will receive an email message stating why your change(s) were not approved</li>
        </ul>-->
        <p>Below is a list of the approved SkillBridge programs provided by your organization—use this page to view and edit program details. Once submitted and approved by the SkillBridge team, programs appear on the SkillBridge Locations page.</p>
        <ul>
            <li>To view program details, select the <i class="fa fa-eye fa-fw edit-btn" data-toggle="tooltip" title="View Record"></i></li>
            <li>To edit program details, select the <i class="fa fa-edit fa-fw edit-btn" data-toggle="tooltip" title="Edit Record"></i></li>
            <!--<li>When complete, a <i class="fa fa-exclamation-circle fa-fw changed-field" data-toggle="tooltip" title="Pending change"></i> will appear next to fields that have been edited</li>-->
        </ul>
        <p>If your edits are not approved, you will receive an email notification with explanation. Edits may be rejected if they violate posting guidelines.</p>
    </div>
</div>

<!--<div class="row">
    <div class="col">
        <p>The changes you make to your Program(s) will be reviewed by a SkillBridge Analyst before posting to the SkillBridge website.</p>
        <div class="card rules-container">
            <div class="card-header">
                <h2>Please observe the following rules or your updates will not be posted:</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>No profanity</li>
                            <li>No sexual content</li>
                            <li>No overly graphic, disturbing, or offensive material</li>
                            <li>No vulgar or abusive language</li>
                            <li>No hate speech or offensive language targeting any specific demographic</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>No personal attacks</li>
                            <li>No spam</li>
                            <li>No promotions for commercial products or services</li>
                            <li>No unsolicited proposals or other business ideas or inquiries</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

@if (Model.Any())
{
<div style="width:100%;max-width:100%">
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Active</th>
                <th>Organization</th>
                <th>Program/Program Office/Agency</th>
                <th>Date Authorized</th>
                <!--<th>Mou Link</th>
                <th>Mou Creation Date</th>-->
                <th>MOU Expiration Date</th>
                <th>Delivery Method</th>
                <th>Program Duration</th>
                <th>Job Family</th>
                <th>Services Supported</th>
                <th>Program Status</th>
                <th>Admin Poc First Name</th>
                <th>Admin Poc Last Name</th>
                <th>Admin Poc Email</th>
                <th>Admin Poc Phone</th>
                <th>Public Poc Name</th>
                <th>Public Poc Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prog in Model)
            {
            <tr>
                <td>
                    <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="View Program" asp-controller="MyPrograms" asp-action="EditProgram" asp-route-id="@prog.Id.ToString()" asp-route-edit="false" aria-label="View Program"><i class="fa fa-eye fa-fw"></i></a>
                    <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="Edit Program" asp-controller="MyPrograms" asp-action="EditProgram" asp-route-id="@prog.Id.ToString()" asp-route-edit="true" aria-label="Edit Program"><i class="fa fa-edit fa-fw"></i></a>
                    <!--<form method="post" asp-controller="Programs" asp-action="DeleteProgram" asp-route-id="prog.Id.ToString()" class="d-inline-block">
        <button type="submit" class="btn delete-btn" onclick="return confirm('Are you sure you want to DELETE Program    prog.Program_Name ?')"><i class="fa fa-trash fa-fw"></i></button>
    </form>-->
                </td>
                <td>@prog.Is_Active</td>
                <td>@prog.Organization_Name</td>
                <td>@prog.Program_Name</td>
                <td data-sort='@prog.Date_Authorized.Year@prog.Date_Authorized.Month@prog.Date_Authorized.Day'>@prog.Date_Authorized.ToString("MM/dd/yyyy")</td>
                <!--<td>prog.Mou_Link</td>
                <td>prog.Mou_Creation_Date.ToString("MM/dd/yyyy")</td>-->
                <td data-sort='@prog.Mou_Expiration_Date.Year@prog.Mou_Expiration_Date.Month@prog.Mou_Expiration_Date.Day'>@prog.Mou_Expiration_Date.ToString("MM/dd/yyyy")</td>
                <td>@prog.Delivery_Method</td>
                <td>
                    @if (prog.Program_Duration == 0)
                    {
                        <span>1 - 30 days</span>
                    }
                    else if (prog.Program_Duration == 1)
                    {
                        <span>31 - 60 days</span>
                    }
                    else if (prog.Program_Duration == 2)
                    {
                        <span>61 - 90 days</span>
                    }
                    else if (prog.Program_Duration == 3)
                    {
                        <span>91 - 120 days</span>
                    }
                    else if (prog.Program_Duration == 4)
                    {
                        <span>121 - 150 days</span>
                    }
                    else if (prog.Program_Duration == 5)
                    {
                        <span>151 - 180 days</span>
                    }
                    else if (prog.Program_Duration == 6)
                    {
                        <span>Individually Developed – not to exceed 40 hours</span>
                    }
                    else if (prog.Program_Duration == 7)
                    {
                        <span>Self-paced</span>
                    }
                </td>
                <td>@prog.Job_Family</td>
                <td>@prog.Services_Supported</td>
                <td>@prog.Program_Status</td>
                <td>@prog.Admin_Poc_First_Name</td>
                <td>@prog.Admin_Poc_Last_Name</td>
                <td>@prog.Admin_Poc_Email</td>
                <td>@prog.Admin_Poc_Phone</td>
                <td>@prog.Public_Poc_Name</td>
                <td>@prog.Public_Poc_Email</td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Programs Created Yet
        </div>
        <div class="card-body">

        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        var table;
        $('.leftmenutrigger').on('click', function (e) {
            setTimeout(ResizeTable, 500);
        });
        function ResizeTable() {
            table.columns.adjust().draw();
        }
        $(document).resize(function () {
            ResizeTable();
        });
        $(document).ready(function () {
            if ($('#example').length > 0) {
                table = $("#example").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                            }
                        },
                        {
                            extend: 'csv', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                            }
                        },
                        {
                            extend: 'excel', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                            }
                        }
                    ],
                    "processing": false, // for show progress bar
                    "serverSide": false, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    responsive: true,
                    "autoWidth": false,
                    "bAutoWidth": false,
                    "order": [
                        [4, 'asc']
                    ],
                    "columnDefs": [{
                        "targets": 0,
                        "width": "60px",
                        "orderable": false
                    },
                    {
                        "targets": 2,
                        "width": "200px",
                        "render": $.fn.dataTable.render.ellipsis()
                    }]
                });

                // Recalc column widths on paging
                table.on('page.dt', function () {
                    //table.columns.adjust()
                    table.responsive.recalc();
                });
            }
        });
    </script>
}


