@{
    var user = (ApplicationUser)ViewBag.User;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkillBridge CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap5/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/skillbridgecms.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="row">
            <div class="col-8">
                <a href="@(User.Identity.IsAuthenticated ? "/" : "/intake")" title="Return to home page"><img src="~/images/cms-logo.png" alt="DoD SkillBridge logo" /></a>
            </div>
            <div class="col-4 text-end d-none d-md-block">
                @if (user != null)
                {
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user fa-fw"></i> @user.FirstName @user.LastName</a>
                    <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-suitcase"></i> My Account</a></li>
                            <li><a class="dropdown-item" href="/Identity/Account/Logout"><i class="fa fa-sign-out-alt"></i> Sign Out</a></li>
                    </ul>
                </div>                
                }
            </div>
        </div>
    </header>

    <nav class="navbar navbar-dark navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    @if (!User.IsInRole("Organization") && !User.IsInRole("Program"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">MOUs</a></li>
                                <li><a class="dropdown-item" href="#">Organizations</a></li>
                                <li><a class="dropdown-item" href="#">Programs</a></li>
                                <li><a class="dropdown-item" href="#">Opportunities</a></li>
                                <li><a class="dropdown-item" href="#">Training Plans</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Analyst") || User.IsInRole("OSD") || User.IsInRole("OSD Reviewer") || User.IsInRole("OSD Signatory"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Pending Changes</a></li>
                                <li><a class="dropdown-item" href="/intake/admin">Intake Forms</a></li>
                                @if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                                {
                                    <li><a class="dropdown-item" href="#">Home Page Notifications</a></li>
                                    <li><a class="dropdown-item" href="#">Users</a></li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" href="#">Roles</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reports</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Expiring MOUs</a></li>
                                <li><a class="dropdown-item" href="#">QuestionPro PDFs</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Organization"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Programs</a>
                        </li>
                    }
                    @if (User.IsInRole("Organization") || User.IsInRole("Program"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Opportunities</a>
                        </li>
                    }
                    <li class="nav-item d-block d-md-none">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item d-block d-md-none">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/intake">Home</a>
                </li>
            }
            </ul>
        </div>
      </div>
    </nav>

    <div class="m-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @await RenderSectionAsync("Breadcrumb", required: false)
            </ol>
        </nav>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-2 px-3 py-2 footer bg-light border-top border-secondary">
        &copy; @DateTime.Today.Year;
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>