@{
    var trainingPlans = (List<Skillbridge.Business.Model.Db.TrainingPlans.TrainingPlan>)ViewBag.TrainingPlans;
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Job Title</th>
            <th>Instructional Method(s)</th>
            <th>Training Plan Length</th>
            <th>Number of Weeks</th>
            <th>Added On</th>
            <th>Is Active?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainingPlan in trainingPlans)
        {
            <tr>
                <td>
                    @if (trainingPlan.IsActive)
                    {
                        <input type="radio"
                       id="TrainingPlanId_@(trainingPlan.Id)"
                       name="TrainingPlanId"
                       value="@(trainingPlan.Id)"
                       data-val="true"
                       data-val-required="Please select a training plan to associate with this program change."
                       title="Select this training plan"
                       aria-label="Select this training plan" />
                    }
                </td>
                <td><label for="TrainingPlanId_@(trainingPlan.Id)">@Html.Raw(trainingPlan.JobTitle)</label></td>
                <td>@Html.Raw(trainingPlan.JobTitle)</td>
                <td>
                    @for (var i = 0; i < trainingPlan.TrainingPlanInstructionalMethods.Count; i++)
                    {
                        @Html.Raw(trainingPlan.TrainingPlanInstructionalMethods[i].InstructionalMethod.DisplayText)
                        if (i < trainingPlan.TrainingPlanInstructionalMethods.Count - 1)
                        {
                            <span>, </span>
                        }
                    }
                </td>
                <td>@Html.Raw(trainingPlan.TrainingPlanLength.DisplayText)</td>
                <td>@(trainingPlan.BreakdownCount.ToString("#"))</td>
                <td>@(trainingPlan.CreateDate.ToString("MM/dd/yyyy hh:mmtt"))</td>
                <td>@(trainingPlan.IsActive ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
<span class="text-danger field-validation-valid" data-valmsg-for="TrainingPlanId" data-valmsg-replace="true"></span>
