@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "QuestionPro PDF";
    var chainedSurveys = (List<Skillbridge.Business.Model.Db.QuestionPro.QPResponse>)ViewBag.ChainedSurveys;
    var questions = (List<Skillbridge.Business.Model.Db.QuestionPro.QPResponseQuestion>)ViewBag.Questions;
    var answers = (List<Skillbridge.Business.Model.Db.QuestionPro.QPResponseQuestionAnswer>)ViewBag.Answers;
}

@if (chainedSurveys != null)
{
    <div class="text-center">
        <div class="bg-primary p-2"><img src="~/images/logo.png" /></div>
    </div>

    @for (var i = chainedSurveys.Count - 1; i >= 0; i--)
    {
        var survey = chainedSurveys[i];
        var surveyQuestions = questions.Where(o => o.ResponseId == survey.ResponseId).OrderBy(o => o.Id).ToList();

        <h1 class="mt-4">@Html.Raw(survey.SurveyName)</h1>

        @if (i == chainedSurveys.Count - 1)
        {
            <div class="h6 mt-4">QuestionPro ID: @chainedSurveys[0].ResponseId</div>
            <div class="h6 mt-4">Zoho Ticket ID: @chainedSurveys[0].ZohoTicketId</div>
            <div class="h6">Date Submitted: @chainedSurveys[0].TimeStamp</div>
        }

        @foreach (var question in surveyQuestions)
        {
            var questionAnswers = answers.Where(o => o.ResponseId == question.ResponseId && o.QuestionId == question.QuestionId).ToList();

            <div class="mt-4 font-weight-bold"><span>@question.QuestionCode</span>: @Html.Raw(question.QuestionText)</div>

            @if (!String.IsNullOrWhiteSpace(question.QuestionDescription))
            {
                <div class="mb-2 font-italic">@Html.Raw(question.QuestionDescription)</div>
            }

            @foreach (var answer in questionAnswers)
            {
                if (answer.AnswerId > 0)
                {
                    <div class="mb-2">
                    @if (!String.IsNullOrWhiteSpace(answer.AnswerText))
                    {
                        <span>@Html.Raw(answer.AnswerText)</span>
                    }
                    @if (!String.IsNullOrWhiteSpace(answer.ValueText))
                    {
                        <span>@Html.Raw(answer.ValueText)</span>
                    }
                    @if (!String.IsNullOrWhiteSpace(answer.ValueOther))
                    {
                        <span>@Html.Raw(answer.ValueOther)</span>
                    }
                    @if (!String.IsNullOrWhiteSpace(answer.ValueDynamicExplodeText))
                    {
                        <span>@Html.Raw(answer.ValueDynamicExplodeText)</span>
                    }
                    </div>
                }
            }
        }
    }
}
else
{
    <h1 class="red-text">This survey doesn't have the appropriate chain to generate a PDF.</h1>
}

