@model SkillBridge.Business.Model.Db.PendingOpportunityModel

<div class="card mt-3">
    <div class="card-header"><h4 class="mb-0">Pending Opportunity</h4></div>
    <div class="card-body p-3">
        <div class="row mb-2">
            <div class="col-6">
                <span class="bold">Program:</span> <a href="/programs/@(Model.Program_Id)" target="_blank" title="View program">@Html.Raw(Model.Program_Name)</a>
            </div>
            <div class="col-6">
                <span class="bold">Location:</span> @Html.Raw(Model.Installation) @(Model.City), @(Model.State) @(Model.Zip)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <span class="bold">Enrollment Dates:</span> @Html.Raw(Model.EnrollmentDates)
            </div>
        </div>
    </div>
</div>

