@using Microsoft.AspNetCore.Identity;
@using SkillBridge_System_Prototype.Enums;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<SB_Organization>

@{
    ViewBag.Title = "All Organizations";
}

<h1>All Organizations</h1>

<div class="row">
    <div class="col">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
            {
                <p>Below is a list of the approved SkillBridge organizations—use this page to view and edit organization details. Once submitted and approved by the SkillBridge team, data will be updated in the system.</p>
                <ul>
                    <li>To view organization details, select the <i class="fa fa-eye fa-fw edit-btn" data-toggle="tooltip" title="View Record"></i></li>
                    <li>To edit organization details, select the <i class="fa fa-edit fa-fw edit-btn" data-toggle="tooltip" title="Edit Record"></i></li>
                </ul>
            }
            else if (User.IsInRole("Service"))
            {
                <p>Use the search bar to locate organizations based on their name, org type, etc.</p>
            }
        }
    </div>
</div>

@if (Model.Any())
{

<div class="row">
    <div class="col">
        @if (SignInManager.IsSignedIn(User))
        {
            if(User.IsInRole("Admin") || User.IsInRole("Analyst"))
            {
                <a class="btn btn-primary mb-3" asp-controller="Organizations" asp-action="CreateOrganization">Add New Organization</a>
            }
            if(User.IsInRole("Admin") || User.IsInRole("Analyst") || User.IsInRole("Service"))
            {
                <a id="download-btn" class="btn btn-success mb-3 d-inline-block" asp-action="DownloadCSV">Download Organizations CSV</a>
            }
        }
    </div>
</div>

<table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Active</th>
            <th>Name</th>
            <th>Organization Type</th>
            <th>Date Created</th>
            <th>POC First Name</th>
            <th>POC Last Name</th>
            <th>POC Email</th>
            <th>POC Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var org in Model)
            {

                string orgType = Enum.GetName(typeof(OrganizationType), org.Organization_Type);
        <tr>
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="View Organization" asp-controller="Organizations" asp-action="EditOrganization" asp-route-id="@org.Id.ToString()" asp-route-edit="false" aria-label="View Organization"><i class="fa fa-eye fa-fw"></i></a>
                    if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                    {
                        <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="Edit Organization" asp-controller="Organizations" asp-action="EditOrganization" asp-route-id="@org.Id.ToString()" asp-route-edit="true" aria-label="Edit Organization"><i class="fa fa-edit fa-fw"></i></a>
                        <!--<form method="post" asp-controller="Organizations" asp-action="DeleteOrganization" asp-route-id="org.Id" class="d-inline-block">
                <button type="submit" class="btn delete-btn" title="Delete Organization" onclick="return confirm('Are you sure you want to DELETE Organization org.Name ?')"><i class="fa fa-trash fa-fw"></i></button>
            </form>-->
                    }
                }
            </td>
            <td>@org.Is_Active</td>
            <td>@org.Name</td>
            <td>@orgType</td>
            <td data-sort='@org.Date_Created.Year.ToString("0000")@org.Date_Created.Month.ToString("00")@org.Date_Created.Day.ToString("00")'>@org.Date_Created.ToString("MM/dd/yyyy")</td>
            <td>@org.Poc_First_Name</td>
            <td>@org.Poc_Last_Name</td>
            <td>@org.Poc_Email</td>
            <td>@org.Poc_Phone</td>
        </tr>
            }
    </tbody>
</table>
}
else
{
<div class="card">
    <div class="card-header">
        No Organizations Created Yet
    </div>
    <div class="card-body">
        @if (SignInManager.IsSignedIn(User))
        {
            if(User.IsInRole("Admin") || User.IsInRole("Analyst"))
            {
                <h5 class="card-title">
                    Use the button below to create an organization
                </h5>
                <a class="btn btn-primary" asp-controller="Organizations" asp-action="CreateOrganization">Create Organization</a>
            }
        }
    </div>
</div>
}

@section Scripts {
    <script type="text/javascript">
        var table;
        $('.leftmenutrigger').on('click', function (e) {
            setTimeout(ResizeTable, 500);
        });
        function ResizeTable() {
            table.columns.adjust().draw();
        }
        $(document).resize(function () {
            ResizeTable();
        });
        $(document).ready(function () {
            if ($('#example').length > 0) {
                table = $("#example").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6, 7, 8]
                            }
                        },
                        {
                            extend: 'csv', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6, 7, 8]
                            }
                        },
                        {
                            extend: 'excel', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6, 7, 8]
                            }
                        }
                    ],
                    "processing": false, // for show progress bar
                    "serverSide": false, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    responsive: true,
                    "autoWidth": false,
                    "bAutoWidth": false,
                    "order": [
                        [4, 'asc']
                    ],
                    "columnDefs": [{
                        "targets": 0,
                        "width": "60px",
                        "orderable": false
                    }]
                });

                // Recalc column widths on paging
                table.on('page.dt', function () {
                    //table.columns.adjust()
                    table.responsive.recalc();
                });
            }

            $("#download-btn").click(function (e) {
                $('#loader').css("display", "block");
                $('#loader-bg').css("display", "block");
                $('#loader-text').css("display", "block");
                $('#generating-file').css("display", "block");

                setCookie('organizationsDownloadStarted', "0", 100); //Expiration could be anything... As long as we reset the value
                setTimeout(checkDownloadCookie, 1000); //Initiate the loop to check the cookie.

                //console.log("downloadStarted: " + getCookie('downloadStarted'));
                //$('main').css("visibility", "hidden");
            });

            var downloadTimeout;
            var checkDownloadCookie = function () {
                //console.log("downloadStarted: " + getCookie('downloadStarted'));
                if (getCookie("organizationsDownloadStarted") == "1") {
                    setCookie("organizationsDownloadStarted", "false", 0); //Expiration could be anything... As long as we reset the value
                    HideLoader();
                } else {
                    downloadTimeout = setTimeout(checkDownloadCookie, 1000); //Re-run this function in 1 second.
                }
            };
        });
    </script>
}


