@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Taku.Core.Enums
@model Skillbridge.Business.Model.Db.OpportunityModel
@{
    ViewData["Title"] = "Create Opportunity";
}

<h1>Create Opportunity</h1>
<form method="post">
    <input id="Program_Name" asp-for="Program_Name" type="hidden" />
    <input id="Service" asp-for="Service" type="hidden" />
    <input id="Online" asp-for="Online" type="hidden" />
    <input id="Nationwide" asp-for="Nationwide" type="hidden" />
    <input id="Multiple_Locations" asp-for="Multiple_Locations" type="hidden" />
    <div class="row">
        <div class="col">
            <div class="card-header" style="border: 1px solid rgba(0,0,0,.125);">
                <label asp-for="Is_Active" style="font-size:20px;">Active Opportunity</label>&nbsp;
                <input id="is-active-toggle" type="checkbox" asp-for="Is_Active" data-toggle="toggle" data-onstyle="success outline-dark" data-offstyle="secondary outline-dark" data-on="Active" data-off="Inactive" data-size="sm" data-style="fast" class="is-active-toggle" checked>
                <div class="alert alert-info mt-1" role="alert">
                    <p class="bold">Switching the Opportunity to:</p>
                    <ul>
                        <li><span class="bold" style="color: #28a745;">ACTIVE</span> will display the opportunity on the SkillBridge site</li>
                        <li><span class="bold" style="color: #6c757d;">INACTIVE</span> will remove the opportunity from the SkillBridge site</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div asp-validation-summary="All" class="text-danger"></div>
            <input id="Program_Name" asp-for="@Model.Program_Name" type="hidden" />
            <input id="Service" asp-for="@Model.Service" type="hidden" />
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="form-group">
        <label asp-for="Group_Id"></label><span class="req">&nbsp;*</span>
        <select id="group-id-select" asp-for="Group_Id"
                class="form-control custom-select"
                asp-items="@ViewBag.GroupIds">
            <option value="-1">[Create New]</option>
        </select>
        <span asp-validation-for="Group_Id" class="text-danger"></span>
    </div>-->
                    <!--<div class="form-group">
        <label asp-for="Program_Name"></label>
        <input asp-for="Program_Name" class="form-control" data-toggle="tooltip" title="Name of this program" />
        <span asp-validation-for="Program_Name" class="text-danger"></span>
    </div>-->
                    <div class="form-group" id="prog-container">
                        <label asp-for="Program_Id">Program/Program Office/Agency</label><span class="req">&nbsp;*</span>
                        <select id="prog-dropdown" class="browser-default custom-select" asp-for="Program_Id" asp-items="@(new SelectList(ViewBag.Programs,"Id","Program_Name"))" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="The name of this program">
                        </select>
                        <span asp-validation-for="Program_Id" class="text-danger"></span>
                    </div>
                    <!--Hidden but still collected on ingest, this field is inherited from the program level, SHOULD BE EXPORTED IN UPDATES-->
                    <!--<div class="form-group">
    <label asp-for="Service"></label>
    <input value=" " asp-for="Service" disabled class="form-control" data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" />
    <!--<input asp-for="Service" class="form-control" data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" />
            <span asp-validation-for="Service" class="text-danger"></span>
        </div>-->
                    <div class="form-group">
                        <label asp-for="Opportunity_Url"></label>
                        <input asp-for="Opportunity_Url" class="form-control" data-toggle="tooltip" title="Website address of Skillbridge opportunity" />
                        <span asp-validation-for="Opportunity_Url" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
        <label asp-for="Date_Program_Initiated"></label><span class="req">&nbsp;*</span>
        <input asp-for="Date_Program_Initiated" class="form-control" data-toggle="tooltip" title="The date this program started" />
        <span asp-validation-for="Date_Program_Initiated" class="text-danger"></span>
    </div>-->
                    <div class="form-group">
        <label asp-for="Training_Duration"></label><span class="req">&nbsp;*</span>
        <input asp-for="Training_Duration" class="form-control" data-toggle="tooltip" title="Duration of the training program in weeks" />
        <span asp-validation-for="Training_Duration" class="text-danger"></span>
    </div>
    <div class="form-group" id="delivery-method-select-container">
        <label asp-for="Delivery_Method">Delivery Method</label>
                <select id="delivery-method-dropdown" class="browser-default custom-select" asp-for="Delivery_Method" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="The format in which the SkillBridge program is offered">
                    <option value="0">In-person</option>
                    <option value="1">Online</option>
                    <option value="2">Hybrid</option>
                </select>
                <span asp-validation-for="Delivery_Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Program_Type"></label>
                <select asp-for="Program_Type"
                        class="form-control custom-select"
                        asp-items="Html.GetEnumSelectList<ProgramType>()" data-toggle="tooltip" title="Type of training program">
                    <option value="null">Select type</option>
                </select>
                <span asp-validation-for="Program_Type" class="text-danger"></span>
            </div>
                    <!--<div class="form-group">
        <label asp-for="Job_Families"></label>
        <input asp-for="Job_Families" class="form-control" data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates" />
        <span asp-validation-for="Job_Families" class="text-danger"></span>
    </div>-->
                    <!--<div class="form-group">
        <label asp-for="Job_Families"></label>
        <select asp-for="Job_Families"
                class="form-control custom-select"
                asp-items="Html.GetEnumSelectList<JobFamily>()" data-toggle="tooltip" title="Which ONET Job Family does this relate to">
            <option value="-1">Select One</option>
        </select>
        <span asp-validation-for="Job_Families" class="text-danger"></span>
    </div>-->
                    <!--<div class="form-group">
        <label asp-for="Participation_Populations"></label>
        <input asp-for="Participation_Populations" class="form-control" data-toggle="tooltip" title="Who is allowed to participate in the SkillBridge program (Service members, veterans, and/or spouses)" />
        <span asp-validation-for="Participation_Populations" class="text-danger"></span>
    </div>-->
                    <!--<div class="form-group">
        <label asp-for="Participation_Populations"></label>
        <select asp-for="Participation_Populations"
                class="form-control custom-select"
                asp-items="Html.GetEnumSelectList<ParticipationPopulation>()" data-toggle="tooltip" title="Who can participate">
            <option value="-1">Select One</option>
        </select>
        <span asp-validation-for="Participation_Populations" class="text-danger"></span>
    </div>-->
                    <div class="form-group">
                        <label asp-for="Enrollment_Dates"></label>
                        <input asp-for="Enrollment_Dates" class="form-control" data-toggle="tooltip" title="Enrollment dates for the SkillBridge program (Continuous open enrollment  or start/end dates mm/dd/yy - mm/dd/yy)" />
                        <span asp-validation-for="Enrollment_Dates" class="text-danger"></span>
                    </div>
                    <div class="form-group">
        <label asp-for="Num_Locations"></label><span class="req">&nbsp;*</span>
        <input asp-for="Num_Locations" class="form-control" data-toggle="tooltip" title="How many locations for this opportunity" />
        <span asp-validation-for="Num_Locations" class="text-danger"></span>
    </div>
                    <!--<div class="form-group">
        <label asp-for="State"></label>
        <input asp-for="State" class="form-control" data-toggle="tooltip" title="State" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>-->
                    <!--<div class="form-group">
        <label asp-for="Notes"></label>
        <textarea asp-for="Notes" class="form-control" data-toggle="tooltip" title="Notes for analyst users"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>-->
                    <!--<div class="form-group">
        <label asp-for="State"></label>
        <select asp-for="State"
                class="form-control custom-select"
                asp-items="Html.GetEnumSelectList<States>()">
            <option value="-1">Select One</option>
        </select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>-->
                    <div class="form-group">
                        <label asp-for="Summary_Description"></label><span class="req">&nbsp;*</span>
                        <textarea asp-for="Summary_Description" class="form-control" data-toggle="tooltip" title="Description of SkillBridge opportunity"></textarea>
                        <span asp-validation-for="Summary_Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Jobs_Description"></label><span class="req">&nbsp;*</span>
                        <textarea asp-for="Jobs_Description" class="form-control" data-toggle="tooltip" title="Description of specific job duties"></textarea>
                        <span asp-validation-for="Jobs_Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Links_To_Prospective_Jobs"></label>
                        <input asp-for="Links_To_Prospective_Jobs" class="form-control" data-toggle="tooltip" title="Website address to prospective job openings" />
                        <span asp-validation-for="Links_To_Prospective_Jobs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Locations_Of_Prospective_Jobs_By_State"></label>
                        <input asp-for="Locations_Of_Prospective_Jobs_By_State" class="form-control" data-toggle="tooltip" title="States where prospective jobs are located" />
                        <span asp-validation-for="Locations_Of_Prospective_Jobs_By_State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salary"></label>
                        <input asp-for="Salary" class="form-control" data-toggle="tooltip" title="Estimated annual salary" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prospective_Job_Labor_Demand"></label>
                        <input asp-for="Prospective_Job_Labor_Demand" class="form-control" data-toggle="tooltip" title="General demand for the opportunity (Growing/Average/etc)" />
                        <span asp-validation-for="Prospective_Job_Labor_Demand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Target_Mocs"></label>
                        <input asp-for="Target_Mocs" class="form-control" data-toggle="tooltip" title="Preferred Military Occupational Code(s) for SkillBridge opportunity" />
                        <span asp-validation-for="Target_Mocs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Other_Eligibility_Factors"></label>
                        <textarea asp-for="Other_Eligibility_Factors" class="form-control" data-toggle="tooltip" title="Additional prerequisites"></textarea>
                        <span asp-validation-for="Other_Eligibility_Factors" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Location Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Installation"></label>
                                <input asp-for="Installation" class="form-control" data-toggle="tooltip" title="Military installation where the opportunity operates" />
                                <span asp-validation-for="Installation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City"></label>
                                <input asp-for="City" class="form-control" data-toggle="tooltip" title="City" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <!--<div class="form-group">
                <label asp-for="State"></label>
                <select asp-for="State"
                        class="form-control custom-select"
                        asp-items="Html.GetEnumSelectList<States>()">
                    <option value="-1">Select One</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>-->

                            <div class="row">
                                <div class="col-md-6">
                                    <!--<div class="form-group">
                        <label asp-for="State"></label>
                        <input asp-for="State" class="form-control" data-toggle="tooltip" title="State" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>-->
                                    <div class="form-group">
                                        <label asp-for="State"></label>
                                        <select asp-for="State" class="form-control custom-select" asp-items="@(new SelectList(ViewBag.States,"Code","Label"))" data-toggle="tooltip" title="State" aria-label="State">
                                        </select>
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Zip"></label>
                                        <input asp-for="Zip" class="form-control" data-toggle="tooltip" title="Zip Code" />
                                        <span asp-validation-for="Zip" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button id="find-coords-btn" type="button" class="btn btn-block btn-primary">Find Coordinates</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Lat"></label><span class="req">&nbsp;*</span>
                                        <input asp-for="Lat" class="form-control" data-toggle="tooltip" title="Latitude" />
                                        <span asp-validation-for="Lat" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Long"></label><span class="req">&nbsp;*</span>
                                        <input asp-for="Long" class="form-control" data-toggle="tooltip" title="Longitude" />
                                        <span asp-validation-for="Long" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Employer POC Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Employer_Poc_Name"></label><span class="req">&nbsp;*</span>
                                <input asp-for="Employer_Poc_Name" class="form-control" data-toggle="tooltip" title="Name of SkillBridge employer point of contact" />
                                <span asp-validation-for="Employer_Poc_Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Employer_Poc_Email"></label><span class="req">&nbsp;*</span>
                                <input asp-for="Employer_Poc_Email" class="form-control" data-toggle="tooltip" title="Email for the POC" />
                                <span asp-validation-for="Employer_Poc_Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
        <label>New Group Title</label>
        <input class="form-control" data-toggle="tooltip" title="New Group Title" name="newGroupTitle" />
    </div>-->
                    
                    
                    
                    <div class="form-group">
                        <label asp-for="Cost"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Cost" class="form-control" data-toggle="tooltip" title="Cost of SkillBridge opportunity" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Other"></label><span class="req">&nbsp;*</span>
                        <textarea asp-for="Other" class="form-control" data-toggle="tooltip" title="Misc. Information to be displayed on the locations table"></textarea>
                        <span asp-validation-for="Other" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group form-inline">
        <div class="form-check mr-3">
            <label class="form-check-label d-inline-block">
                <input type="checkbox" class="form-check-input" asp-for="Nationwide" data-toggle="tooltip" title="Check if opportunity is in 3 or more states and 2 or more regions (Cardinal Areas of US)" disabled>Nationwide
            </label>
            <span asp-validation-for="Nationwide" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-inline">
        <div class="form-check mr-3">
            <label class="form-check-label d-inline-block">
                <input type="checkbox" class="form-check-input" asp-for="Online" data-toggle="tooltip" title="Check if opportunity is only available online. If online, then also check Nationwide." disabled>Online
            </label>
            <span asp-validation-for="Online" class="text-danger"></span>
        </div>
    </div>-->
                    <!--<div class="form-group form-inline">
        <div class="form-check mr-3">
            <label class="form-check-label d-inline-block">
                <input type="checkbox" class="form-check-input" asp-for="Multiple_Locations" data-toggle="tooltip" title="Check if opportunity is available in more than one location">Multiple Locations
            </label>
            <span asp-validation-for="Multiple_Locations" class="text-danger"></span>
        </div>
    </div>-->
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Support_Cohorts" data-toggle="tooltip" title="Check if opportunity is offered to 3 or more participants at once">Support Cohorts
                            </label>
                            <span asp-validation-for="Support_Cohorts" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="For_Spouses" data-toggle="tooltip" title="Check if opportunity is available to military spouses">For Spouses
                            </label>
                            <span asp-validation-for="For_Spouses" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label d-inline-block">
                                <input type="checkbox" class="form-check-input" asp-for="Mous" data-toggle="tooltip" title="Do you have an MOU with a base or installation, besides the DOD MOU">Mous
                            </label>
                            <span asp-validation-for="Mous" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create Opportunity</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>   <!--INTERFERES WITH DATATABLES FOR SOME -->
    <!-- On document load, make sure that fields that were previously edited are marked -->
    <script type="text/javascript">
        $(document).ready(function () {

            $(".custom-select").select2();

            // Bootstrap tooltips for select2
            $(".select2-container").tooltip({
                title: function () {
                    return $(this).prev().attr("data-original-title");
                },
                placement: "auto",
                animation: false
            });

            // Setup default dates
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $('input[type="date"]').val(today);

            // Enable field change detection for submitting updates
            changeDetectionEnabled = true;
            SetupChangeDetection();

            $('#group-id-select.custom-select').change(function () {
                //console.log("selected " + $(this).val());
                if ($(this).val() != -1) {
                    $("[name=newGroupTitle]").prop("disabled", true);
                    $("[name=Lat]").prop("disabled", true);
                    $("[name=Long]").prop("disabled", true);

                    var group = parseInt($(this).val());
                    SetGroupInfo(group);

                    /*$("[name=newGroupTitle]").val("[GROUP TITLE]");
                    $("[name=Lat]").val("[GROUP LAT]");
                    $("[name=Long]").val("[GROUP LONG]");*/
                }
                else {
                    $("[name=newGroupTitle]").prop("disabled", false);
                    $("[name=Lat]").prop("disabled", false);
                    $("[name=Long]").prop("disabled", false);

                    $("[name=newGroupTitle]").val("");
                    $("[name=Lat]").val("");
                    $("[name=Long]").val("");
                }

                //alert("checkbox changed");
                $("#mou-dropdown").prop('disabled', true);

                var val = this.checked;

                if (val == true) {
                    $("#mou-dropdown").prop('disabled', true);
                }
                else if (val == false) {
                    $("#mou-dropdown").prop('disabled', false);
                }
            });

            $("[name=newGroupTitle]").prop("disabled", false);
            $("[name=Lat]").prop("disabled", false);
            $("[name=Long]").prop("disabled", false);

            $("[name=newGroupTitle]").val("");
            $("[name=Lat]").val("");
            $("[name=Long]").val("");

            $("#prog-dropdown.custom-select").change(function () {
                var prog = $(this).val();
                SetServiceVal(prog);
            });

            // Needs to fire by default since only one program could exist in the dropdown, and these values are necessary
            var prog = $("#prog-dropdown.custom-select").val();
            SetServiceVal(prog);

            $("#find-coords-btn").click(function () {
                var address = $("#City").val() + ", " + $("#State").val() + " " + $("#Zip").val();
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        //console.log("status: " + status);
                        $("#Lat").val(results[0].geometry.location.lat().toFixed(5));
                        $("#Long").val(results[0].geometry.location.lng().toFixed(5));

                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            });

        });

        function SetGroupInfo(groupId) {
            var jsonObj = JSON.parse('@Html.Raw(ViewBag.GroupLookup)');
            //var jsonObj = //Json.Serialize(ViewBag.GroupLookup);
            //var listOfFields = Json.Serialize(Model.Pending_Fields);
            //var jsonObj = (ViewBag.GroupLookup);
            //console.log("SetGroupInfo called for " + groupId);

            //console.log("jsonObj.length: " + jsonObj.length);

            for (var i = 0; i < jsonObj.length; i++)
            {
                var item = jsonObj[i];
                //console.log("item.Id: " + item.Id);

                //console.log("parseInt(item.Id): " + parseInt(item.Id));
                if (parseInt(item.Id) == groupId) {
                    //console.log("FOUND GROUPID IN LIST");
                    $("[name=newGroupTitle]").val(item.Title);
                    $("[name=Lat]").val(item.Lat);
                    $("[name=Long]").val(item.Long);

                    return;
                }
            }
        }

        function SetServiceVal(prog) {
            console.log("Trying to set service value")
            var jsonObj = JSON.parse('@Html.Raw(ViewBag.ProgramLookup)');

            //console.log("jsonObj: " + jsonObj);

            for (var i = 0; i < jsonObj.length; i++)
            {
                var item = jsonObj[i];
                console.log("item: " + item);
                console.log("item.Program_Name: " + item.Program_Name);

                if (item.Id == prog) {
                    console.log("FOUND Service IN LIST");
                    console.log("item.Service: " + item.Service);
                    console.log("item.Program_Name: " + item.Program_Name);
                    if (item.Service == "" || item.Service === null) {
                        $("[name=Service]").val("All Services");
                        $("#Service").val("All Services");
                        $("#Program_Name").val(item.Program_Name);
                    }
                    else {
                        $("[name=Service]").val(item.Service);
                        $("#Service").val(item.Service);
                        $("#Program_Name").val(item.Program_Name);
                    }
                    
                    return;
                }
            }
        }

    </script>
}