@using Skillbridge.Business.Query
@{
    var entry = (IntakeForm.Models.Data.Forms.Entry)ViewBag.Entry;
}

@if (entry != null)
{
    var mostRecentStatus = entry.EntryStatusTracking.Where(o => o.NewEntryStatusID == entry.EntryStatusID).OrderByDescending(o => o.AddedDate).FirstOrDefault();
    if (entry.EntryStatusID == (int)IntakeForm.Models.Enumerations.EntryStatus.YesIf && mostRecentStatus != null)
    {
        <div class="alert alert-warning" role="alert">
            <div class="fw-bold">More Information Needed</div>
            <pre>@Html.Raw(mostRecentStatus.Notes)</pre>
        </div>
    }
    if (entry.EntryStatusID == (int)IntakeForm.Models.Enumerations.EntryStatus.Incomplete && mostRecentStatus != null)
    {
        <div class="alert alert-warning" role="alert">
            <div class="fw-bold">Application Incomplete</div>
            <pre>@Html.Raw(mostRecentStatus.Notes)</pre>
        </div>
    }

<div class="card mb-3">
    <div class="card-header bg-secondary h5">@Html.Raw(entry.OrganizationName)</div>
    <div class="card-body">
        <div class="row mt-2">
            <div class="col-6">
                <div class="fw-bold">Application Status: @Html.Raw(new EntryStatusQuery().Get(entry.EntryStatusID.GetHashCode())))</div>
                <span>@Html.Raw(entry.Address1)</span>
                @if (!String.IsNullOrWhiteSpace(entry.Address2))
                {
                    <span>, @Html.Raw(entry.Address2)</span>
                }
                <span>@Html.Raw(entry.City), @Html.Raw(entry.State.Code) @Html.Raw(entry.ZipCode)</span>
                <div class="">p: @Html.Raw(entry.PhoneNumber)</div>
                <div class="">w: <a href="@(entry.Url)" target="_blank" title="Link to organization's website">@(entry.Url)</a></div>        
            </div>
            <div class="col-6">
                <div class="fw-bold">Point of Contact</div>
                <div>@Html.Raw(entry.PocFirstName) @Html.Raw(entry.PocLastName), @Html.Raw(entry.PocTitle)</div>
                <div>p: @Html.Raw(entry.PocPhoneNumber)</div>
                <div class="">e: <a href="mailto:@(entry.PocEmail)" title="Email POC">@(entry.PocEmail)</a></div>        
            </div>
        </div>

        @if (entry.EntryStatusID < (int)IntakeForm.Models.Enumerations.EntryStatus.Submitted)
        {
            <div class="mt-2"><a href="~/intake?zohoTicketId=@(entry.ZohoTicketId)" class="btn btn-primary">Edit</a></div>
        }
    </div>
</div>
}

