@model List<Skillbridge.Business.Model.Db.QuestionProPdfModel>
@{
    ViewData["Title"] = "QuestionPro PDFs";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("QuestionProPdfs", "Utility", FormMethod.Post))
{
<div class="alert alert-secondary" role="alert">
    <div class="row">
        <div class="col-6">
            <label for="FileName">File Name:</label>
            <input type="text" id="FileName" name="FileName" value="@ViewBag.FileName" />
        </div>
        <div class="col-6">
            <label for="ZohoTicketId">Zoho Ticket ID:</label>
            <input type="text" id="ZohoTicketId" name="ZohoTicketId" value="@ViewBag.ZohoTicketId" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="StartDate">Pdf Created Starting On:</label>
            <input type="date" id="StartDate" name="StartDate" value="@ViewBag.StartDate.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-6">
            <label for="EndDate">Pdf Created Ending On:</label>
            <input type="date" id="EndDate" name="EndDate" value="@ViewBag.EndDate.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" class="btn-primary" value="Search" />
        </div>
    </div>
</div>
}

<div class="text-right">Showing @(Model.Count().ToString("0")) result(s)</div>

<table class="table">
    <thead>
        <tr>
            <th>Zoho Ticket ID</th>
            <th>File Name</th>
            <th>PDF Created On</th>
            <th>Final Response Submitted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pdf in Model)
        {
            <tr>
                <td>@pdf.ZohoTicketId</td>
                <td><a href="/utility/downloadquestionpropdf/@pdf.Id">@pdf.FileName</a></td>
                <td>@pdf.CreateDate.ToString("MM/dd/yyyy hh:mmtt")</td>
                <td>@pdf.TimeStamp</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script type="text/javascript">
</script>
}


