@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Skillbridge.Business.Model.Db.PendingProgramAdditionModel>

@{
    ViewBag.Title = "All Pending Program Additions";
}

    <h1>All Pending Program Additions</h1>

<div class="row mb-2">
    <div class="col">
        <div class="btn-group btn-group-toggle d-inline-block mr-2" data-toggle="buttons">
          <label class="btn btn-secondary active" id="all-btn" style="cursor:pointer;">
            <input type="radio" name="options" autocomplete="off" checked> All
          </label>
          <label class="btn btn-warning" id="pending-btn" style="cursor:pointer;">
            <input type="radio" name="options" autocomplete="off"> Pending
          </label>
          <label class="btn btn-success" id="approved-btn" style="cursor:pointer;">
            <input type="radio" name="options" autocomplete="off"> Approved
          </label>
          <label class="btn btn-danger" id="rejected-btn" style="cursor:pointer;">
            <input type="radio" name="options" autocomplete="off"> Rejected
          </label>
        </div>
        <div class="btn-group-toggle d-inline-block" data-toggle="buttons">
          <label class="btn btn-secondary active" id="tp-btn" style="background:#287597;cursor:pointer;">
            <input type="checkbox" checked autocomplete="off"> Toggle Training Plans Only
          </label>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Actions</th>
                <th>TP</th>
                <th>Status</th>
                <!--<th>Prog Id</th>-->
                <th>Program/Program Office/Agency</th>
                <th>Date Reviewed</th>
                <th>Reviewed By</th>
                <th>Date Updated</th>
                <th>Updated By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prog in Model)
            {
            <tr>
                <td>
                    <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="Review Program Addition" asp-controller="Analyst" asp-action="ReviewPendingProgramAddition" asp-route-id="@prog.Id" aria-label="Review Program Addition"><i class="fa fa-search fa-fw"></i></a>
                    <!--<a class="btn btn-primary" asp-controller="Analyst" asp-action="ReviewPendingProgramChange" asp-route-id="@prog.Id" asp-route-progId="@prog.Program_Id">Review Changes</a>-->
                    <!--<form method="post" asp-controller="Analyst" asp-action="DeleteOrganization" asp-route-id="org.Id">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to DELETE Org    org.Name ?')">Delete</button>
        </form>-->
                </td>
                
                <td>
                    @if (!String.IsNullOrWhiteSpace(prog.SerializedTrainingPlan))
                    {
                        <i class="fa fa-columns fa-fw" style="color:#287597;"></i><span class="d-none">Training Plan Change</span>
                    }
                </td>
                <td>
                    @if (prog.Pending_Change_Status == 0)
                    {
                        <span class="badge badge-warning pending-status-badge">Pending</span>
                    }
                    else if (prog.Pending_Change_Status == 1)
                    {
                        <span class="badge badge-success pending-status-badge">Approved</span>
                    }
                    else if (prog.Pending_Change_Status == 2)
                    {
                        <span class="badge badge-danger pending-status-badge">Rejected</span>
                    }
                </td>
                <!--<td>@prog.Program_Id</td>-->
                <td>@prog.Program_Name</td>
                @if(prog.Last_Admin_Action_Time != null)
                {
                    <td data-sort='@prog.Last_Admin_Action_Time.Value.Year.ToString("0000")@prog.Last_Admin_Action_Time.Value.Month.ToString("00")@prog.Last_Admin_Action_Time.Value.Day.ToString("00")'>@prog.Last_Admin_Action_Time.Value.ToString("MM/dd/yyyy")</td>
                }
                else
                {
                    <td data-sort=''>N/A</td>
                }
                <td>@prog.Last_Admin_Action_User</td>
                <!--These use created instead of updated since the pending change is created by the user on the actual change request date, while the original record remains unchanged until approval-->
                <td data-sort='@prog.Date_Created.Year.ToString("0000")@prog.Date_Created.Month.ToString("00")@prog.Date_Created.Day.ToString("00")'>@prog.Date_Created.ToString("MM/dd/yyyy")</td>
                <td>@prog.Updated_By</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Pending Additions
        </div>
        <div class="card-body">
            <p>When additions are available, they will appear here.</p>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        var table;
        var tpFilterOn = false;
        $('.leftmenutrigger').on('click', function (e) {
            setTimeout(ResizeTable, 500);
        });
        function ResizeTable() {
            table.columns.adjust().draw();
        }
        $(document).resize(function () {
            ResizeTable();
        });
        $(document).ready(function () {
            if ($('#example').length > 0) {
                table = $("#example").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'csv', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'excel', className: 'dtBtn',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        }
                    ],
                    "processing": false, // for show progress bar
                    "serverSide": false, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    responsive: true,
                    "autoWidth": false,
                    "bAutoWidth": false,
                    "order": [
                        [6, 'desc']
                    ],
                    "columnDefs": [{
                        "targets": [0],
                        "searchable": false
                    }]
                });
            }
        });

        $('#all-btn').on('click', function () {
            table
            .columns(2)
            .search('')
            .draw();
        });

        $('#pending-btn').on('click', function () {
            table
            .columns(2)
            .search('pending')
            .draw();
        });

        $('#approved-btn').on('click', function () {
            table
            .columns(2)
            .search('approved')
            .draw();
        });

        $('#rejected-btn').on('click', function () {
            table
            .columns(2)
            .search('rejected')
            .draw();
        });

        $('#tp-btn').on('click', function () {
            tpFilterOn = !tpFilterOn;

            if (tpFilterOn) {
                table
                    .columns(1)
                    .search('Training Plan')
                    .draw();
            }
            else {
                table
                    .columns(1)
                    .search('')
                    .draw();
            }
        });
    </script>
}


