@using SkillBridge_System_Prototype.Enums;
@model EditProgramModel
@{
    ViewData["Title"] = "Review Program Change";

    var trainingPlan = (SkillBridge_System_Prototype.Models.TrainingPlans.TrainingPlan)ViewBag.TrainingPlan;
    var originalTrainingPlan = (SkillBridge_System_Prototype.Models.TrainingPlans.TrainingPlan)ViewBag.OriginalTrainingPlan;
    var trainingPlanLengthsList = (List<SkillBridge_System_Prototype.Models.TrainingPlans.TrainingPlanLength>)ViewBag.TrainingPlanLengthsList;
    var instructionalMethodsList = (List<SkillBridge_System_Prototype.Models.TrainingPlans.InstructionalMethod>)ViewBag.InstructionalMethodsList;
}

<h1>Review Program Change</h1>
<p><span class="badge badge-dark" style="padding:6px;">Program ID: @Model.Id</span></p>
<div class="row">
    <div class="col">

        @{
            // If there are changed fields and its status is set to pending
            if (@Model.Pending_Fields.Count > 0 && @Model.Pending_Change_Status == 0)
            {
                <div class="change-msg">Fields marked with <i class='fa fa-exclamation-circle fa-fw'></i> have a pending update already waiting for approval from an analyst. Changes to these fields will replace the previous change!</div>

                //ViewBag.RowClass = "pending-row-alt";
                ViewBag.InputFieldClass = "col-5";
            }
            else
            {
                //ViewBag.RowClass = "";
                ViewBag.InputFieldClass = "col";
            }
        }
        @{
            // If there are changed OSD only fields and its status is set to pending
            if (@Model.Pending_Fields.Count > 0 && @Model.Pending_Change_Status == 0 && ViewBag.ShowOSDNotice)
            {
                <div class="osd-msg"><i class='fa fa-gavel fa-fw'></i>There are fields in this change that REQUIRE OSD APPROVAL. Do not approve/reject this record unless you have explicit permission from OSD!</div>

                //ViewBag.RowClass = "pending-row-alt";
                ViewBag.InputFieldClass = "col-5";
            }
            else
            {
                //ViewBag.RowClass = "";
                ViewBag.InputFieldClass = "col";
            }
        }

        @if (trainingPlan != null)
        {
            <div class="alert alert-warning" role="alert">
                There is a <a href="#tp" title="Jump to training plan" aria-label="Jump to training plan">training plan</a> associated with this program change.
            </div>
        }

    <form method="post" class="pending-changes-form" id="form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!--Hidden Fields for Fields Not Editable by Users-->
        <!--MAY WANT TO SHOW ACTUAL DATA FOR ANALYSTS/ADMINS-->

        <input asp-for="@Model.Date_Created" type="hidden" />
        <input asp-for="@Model.Created_By" type="hidden" />
        <input asp-for="@Model.Legacy_Provider_Id" type="hidden" />
        <input asp-for="@Model.Legacy_Program_Id" type="hidden" />
        <input asp-for="@Model.Id" type="hidden" />
        <input asp-for="@Model.Organization_Id" type="hidden" />
        <input asp-for="@Model.Pending_Fields" type="hidden" />

        <input asp-for="@Model.Lhn_Intake_Ticket_Id" type="hidden" />
        <input asp-for="@Model.Intake_Form_Version" type="hidden" />
        <input asp-for="@Model.Qp_Intake_Submission_Id" type="hidden" />
        <input asp-for="@Model.Qp_Location_Submission_Id" type="hidden" />
        <input asp-for="@Model.Lhn_Location_Ticket_Id" type="hidden" />
        <input asp-for="@Model.Has_Multiple_Locations" type="hidden" />
        <input asp-for="@Model.Reporting_Form_2020" type="hidden" />
        <input asp-for="@Model.Has_Intake" type="hidden" />
        <input asp-for="@Model.Location_Details_Available" type="hidden" />
        <input asp-for="@Model.Mou_Link" type="hidden" />
        <input asp-for="@Model.Mou_Creation_Date" type="hidden" />
        <input asp-for="@Model.Mou_Expiration_Date" type="hidden" />
        <input asp-for="@Model.Participation_Populations" type="hidden" />
        <input asp-for="@Model.Delivery_Method" type="hidden" />
        <input asp-for="@Model.Date_Authorized" type="hidden" />
        <!--<input asp-for="@Model.States_Of_Program_Delivery" type="hidden" />-->
        <input asp-for="@Model.Job_Family" type="hidden" />
        <input asp-for="@Model.Organization_Name" type="hidden" />
        <input asp-for="@Model.Nationwide" type="hidden" />
        <input asp-for="@Model.Online" type="hidden" />
        <input asp-for="@Model.Has_Consent" type="hidden" />
        <input asp-for="@Model.Date_Deactivated" type="hidden" />

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Is Active</label>
                        <!--<input id="original-is-active" type="checkbox" class="form-control" disabled data-toggle="tooltip" title="Is Active Opportunity" value="(bool)ViewBag.Original_Is_Active" />-->
                        @Html.CheckBox("original-is-active", (bool)ViewBag.Original_Is_Active, new { @class = "form-control", @disabled = "true", @data_toggle = "tooltip", @title = "Is Active Opportunity" })
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Is_Active"></label>
                    <input type="checkbox" asp-for="Is_Active" class="form-control disable-on-archived" data-toggle="tooltip" title="Is Active Opportunity" />
                    <span asp-validation-for="Is_Active" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Program/Program Office/Agency</label>
                            <input class="form-control" disabled value="@ViewBag.Original_Program_Name" data-toggle="tooltip" title="Name of SkillBridge Program, Program Office, or Agency" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Program_Name"></label>
                        <input asp-for="Program_Name" class="form-control disable-on-archived" data-toggle="tooltip" title="Name of SkillBridge Program, Program Office, or Agency" />
                    <span asp-validation-for="Program_Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>LHN Intake Ticket Id</label>
                    <input class="form-control" disabled value="ViewBag.Original_Lhn_Intake_Ticket_Id" data-toggle="tooltip" title="" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Lhn_Intake_Ticket_Id"></label>
                <input asp-for="Lhn_Intake_Ticket_Id" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Lhn_Intake_Ticket_Id" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Has Intake</label>
                <input class="form-control" disabled value="ViewBag.Original_Has_Intake" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Has_Intake"></label>
                <input asp-for="Has_Intake" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Has_Intake" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Intake Form Version</label>
                <input class="form-control" disabled value="ViewBag.Original_Intake_Form_Version" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Intake_Form_Version"></label>
                <input asp-for="Intake_Form_Version" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Intake_Form_Version" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>QP Intake Submission Id</label>
                <input class="form-control" disabled value="ViewBag.Original_Qp_Intake_Submission_Id" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Qp_Intake_Submission_Id"></label>
                <input asp-for="Qp_Intake_Submission_Id" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Qp_Intake_Submission_Id" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Location Details Available</label>
                <input class="form-control" disabled value="ViewBag.Original_Location_Details_Available" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Location_Details_Available"></label>
                <input asp-for="Location_Details_Available" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Location_Details_Available" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Has Consent</label>
                <input type="checkbox" class="form-control" disabled value="@ViewBag.Original_Has_Consent" data-toggle="tooltip" title="Check to provide consent to receive correspondence related to SkillBridge" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Has_Consent"></label>
                <input type="checkbox" asp-for="Has_Consent" class="form-control disable-on-archived" data-toggle="tooltip" title="Check to provide consent to receive correspondence related to SkillBridge" />
                <span asp-validation-for="Has_Consent" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>QP Location Submission Id</label>
                <input class="form-control" disabled value="ViewBag.Original_Qp_Location_Submission_Id" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Qp_Location_Submission_Id"></label>
                <input asp-for="Qp_Location_Submission_Id" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Qp_Location_Submission_Id" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>LHN Location Ticket Id</label>
                <input class="form-control" disabled value="ViewBag.Original_Lhn_Location_Ticket_Id" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Lhn_Location_Ticket_Id"></label>
                <input asp-for="Lhn_Location_Ticket_Id" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Lhn_Location_Ticket_Id" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Has Multiple Locations</label>
                <input class="form-control" disabled value="ViewBag.Original_Has_Multiple_Locations" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Has_Multiple_Locations"></label>
                <input asp-for="Has_Multiple_Locations" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Has_Multiple_Locations" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Reporting Form 2020</label>
                <input class="form-control" disabled value="ViewBag.Original_Reporting_Form_2020" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Reporting_Form_2020"></label>
                <input asp-for="Reporting_Form_2020" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Reporting_Form_2020" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Date Authorized</label>
                <input class="form-control" disabled value="ViewBag.Original_Date_Authorized.ToString("MM/dd/yyyy")" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Date_Authorized"></label>
                <input asp-for="Date_Authorized" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Date_Authorized" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>MOU Link</label>
                <input class="form-control" disabled value="ViewBag.Original_Mou_Link" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Mou_Link"></label>
                <input asp-for="Mou_Link" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Mou_Link" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>MOU Creation Date</label>
                <input class="form-control" disabled value="ViewBag.Original_Mou_Creation_Date.ToString("MM/dd/yyyy")" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Mou_Creation_Date"></label>
                <input asp-for="Mou_Creation_Date" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Mou_Creation_Date" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>MOU Expiration Date</label>
                <input class="form-control" disabled value="ViewBag.Original_Mou_Expiration_Date.ToString("MM/dd/yyyy")" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Mou_Expiration_Date"></label>
                <input asp-for="Mou_Expiration_Date" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Mou_Expiration_Date" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Nationwide</label>
                <input type="checkbox" class="form-control" disabled value="@ViewBag.Original_Nationwide" data-toggle="tooltip" title="Check if SkillBridge program is in 3 or more states and 2 or more regions (Cardinal Areas of US)" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Nationwide"></label>
                <input type="checkbox" asp-for="Nationwide" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if SkillBridge program is in 3 or more states and 2 or more regions (Cardinal Areas of US)" />
                <span asp-validation-for="Nationwide" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>Online</label>
                <input type="checkbox" class="form-control" disabled value="@ViewBag.Original_Online" data-toggle="tooltip" title="Check if program is only available online. If online, then also check Nationwide." />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Online"></label>
                <input type="checkbox" asp-for="Online" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if program is only available online. If online, then also check Nationwide." />
                <span asp-validation-for="Online" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Support Cohorts</label>
                        <input type="checkbox" class="form-control" disabled checked="@ViewBag.Original_Support_Cohorts" data-toggle="tooltip" title="Check if program can be offered to 3 or more participants at once" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Support_Cohorts"></label>
                    <input type="checkbox" asp-for="Support_Cohorts" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if program can be offered to 3 or more participants at once" />
                    <span asp-validation-for="Support_Cohorts" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Program Status</label>
                    <input type="checkbox" class="form-control" disabled checked="@ViewBag.Original_Program_Status" data-toggle="tooltip" title="Check if the SkillBridge program is active" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Program_Status"></label>
                <input type="checkbox" asp-for="Program_Status" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if the SkillBridge program is active" />
                <span asp-validation-for="Program_Status" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <!--<div class="form-group">
                    <label>Participation Populations</label>
                    <input class="form-control" disabled value="ViewBag.Original_Participation_Populations" />
                </div>-->
                    <div class="form-group">
                        <label>Participation Populations</label>
                        <select asp-for="Original_Populations_List" class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Participation_Population_List,"Id","Name"))" multiple disabled data-toggle="tooltip" title="Who is allowed to participate in the SkillBridge program (select all that apply)">
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Populations_List"></label>
                    <select asp-for="Populations_List"
                            class="form-control custom-select"
                            asp-items="@(new SelectList(ViewBag.Participation_Population_List,"Id","Name"))" multiple data-toggle="tooltip" title="Who is allowed to participate in the SkillBridge program (select all that apply)">
                    </select>
                    <span asp-validation-for="Populations_List" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
                <label asp-for="Participation_Populations"></label>
                <input asp-for="Participation_Populations" class="form-control disable-on-archived" data-toggle="tooltip" title="Who can participate" />
                <span asp-validation-for="Participation_Populations" class="text-danger"></span>
            </div>-->
            </div>
        </div>

        <!--<div class="row">
        if (Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Delivery Method</label>
                    <input class="form-control" disabled value="ViewBag.Original_Delivery_Method" data-toggle="tooltip" title="The format in which the SkillBridge program is offered (select all that apply)" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Delivery_Method"></label>
                <input asp-for="Delivery_Method" class="form-control disable-on-archived" data-toggle="tooltip" title="The format in which the SkillBridge program is offered (select all that apply)" />
                <span asp-validation-for="Delivery_Method" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Delivery Method</label>
                        <select asp-for="Original_Delivery_Method_List" class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Delivery_Method_List,"Id","Name"))" multiple disabled data-toggle="tooltip" title="The format in which the SkillBridge program is offered">
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Delivery_Method_List"></label>
                    <select asp-for="Delivery_Method_List"
                            class="form-control custom-select"
                            asp-items="@(new SelectList(ViewBag.Delivery_Method_List,"Id","Name"))" multiple data-toggle="tooltip" title="The format in which the SkillBridge program is offered" aria-label="The format in which the SkillBridge program is offered">
                    </select>
                    <span asp-validation-for="Delivery_Method_List" class="text-danger"></span>
                </div>
                <!--<div class="form-group" id="delivery-method-select-container">
            <label asp-for="Delivery_Method">Delivery Method</label>
            <!--<input type="hidden" asp-for="OrganizationId" />->
                <select id="delivery-method-dropdown" class="browser-default custom-select" asp-for="Delivery_Method" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="The format in which the SkillBridge program is offered">
                    <option value="0">In-person</option>
                    <option value="1">Online</option>
                    <option value="2">Hybrid</option>
                </select>
                <span asp-validation-for="Delivery_Method" class="text-danger"></span>
            </div>-->
            </div>
        </div>

        <div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>States of Program Delivery</label>
                    <input class="form-control" disabled value="@ViewBag.Original_States_Of_Program_Delivery" data-toggle="tooltip" title="State where the SkillBridge program is offered (select all that apply)" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="States_Of_Program_Delivery"></label>
                <input asp-for="States_Of_Program_Delivery" class="form-control disable-on-archived" data-toggle="tooltip" title="State where the SkillBridge program is offered (select all that apply)" />
                <span asp-validation-for="States_Of_Program_Delivery" class="text-danger"></span>
            </div>
        </div>
    </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group" id="orig-prog-duration-select-container">
                        <label>Program Duration</label>
                        <select disabled id="orig-prog-duration-dropdown" class="browser-default custom-select" size="1" style="width:100%;max-width:100%" value="@ViewBag.Original_Program_Duration" data-toggle="tooltip" title="Duration of the SkillBridge program in days">
                            <option value="0">1 - 30 days</option>
                            <option value="1">31 - 60 days</option>
                            <option value="2">61 - 90 days</option>
                            <option value="3">91 - 120 days</option>
                            <option value="4">121 - 150 days</option>
                            <option value="5">151 - 180 days</option>
                            <option value="6">Individually Developed – not to exceed 40 hours</option>
                            <option value="7">Self-paced</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <!--<div class="form-group">
                <label asp-for="Program_Duration"></label>
                <input asp-for="Program_Duration" class="form-control disable-on-archived" data-toggle="tooltip" title="Duration of the SkillBridge program in days" />
                <span asp-validation-for="Program_Duration" class="text-danger"></span>
            </div>-->
                <div class="form-group" id="prog-duration-select-container">
                    <label asp-for="Program_Duration">Program Duration</label>
                    <!--<input type="hidden" asp-for="OrganizationId" />-->
                    <select id="prog-duration-dropdown" class="browser-default custom-select" asp-for="Program_Duration" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="Duration of the SkillBridge program in days">
                        <option value="0">1 - 30 days</option>
                        <option value="1">31 - 60 days</option>
                        <option value="2">61 - 90 days</option>
                        <option value="3">91 - 120 days</option>
                        <option value="4">121 - 150 days</option>
                        <option value="5">151 - 180 days</option>
                            <option value="6">Individually Developed – not to exceed 40 hours</option>
                        <option value="7">Self-paced</option>
                    </select>
                    <span asp-validation-for="Program_Duration" class="text-danger"></span>
                </div>
            </div>
        </div>



        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Opportunity Type</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Opportunity_Type" data-toggle="tooltip" title="Type of training program" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Opportunity_Type"></label>
                    <input asp-for="Opportunity_Type" class="form-control disable-on-archived" data-toggle="tooltip" title="Type of training program" />
                    <span asp-validation-for="Opportunity_Type" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <!--<div class="form-group">
                    <label>Job Family</label>
                    <input class="form-control" disabled value="ViewBag.Original_Job_Family" data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates (select all that apply)" />
                </div>-->
                    <div class="form-group">
                        <label>Job Family</label>
                        <select asp-for="Original_Job_Family_List" class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Job_Family_List,"Id","Name"))" multiple disabled data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates (select all that apply)">
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Job_Family_List"></label>
                    <select asp-for="Job_Family_List"
                            class="form-control custom-select"
                            asp-items="@(new SelectList(ViewBag.Job_Family_List,"Id","Name"))" multiple data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates (select all that apply)">
                    </select>
                    <span asp-validation-for="Job_Family_List" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
                <label asp-for="Job_Family"></label>
                <input asp-for="Job_Family" class="form-control disable-on-archived" data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates (select all that apply)" />
                <span asp-validation-for="Job_Family" class="text-danger"></span>
            </div>-->
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <!--<div class="form-group">
                    <label>Participation Populations</label>
                    <input class="form-control" disabled value="ViewBag.Original_Participation_Populations" />
                </div>-->
                    <div class="form-group">
                        <label>Services Supported</label>
                        <select asp-for="Original_Services_Supported_List" class="form-control custom-select"
                                asp-items="@(new SelectList(ViewBag.Services_Supported_List,"Id","Name"))" multiple disabled data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)">
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Services_Supported_List"></label>
                    <select asp-for="Services_Supported_List"
                            class="form-control custom-select"
                            asp-items="@(new SelectList(ViewBag.Services_Supported_List,"Id","Name"))" multiple data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)">
                    </select>
                    <span asp-validation-for="Services_Supported_List" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
                <label asp-for="Participation_Populations"></label>
                <input asp-for="Participation_Populations" class="form-control disable-on-archived" data-toggle="tooltip" title="Who can participate" />
                <span asp-validation-for="Participation_Populations" class="text-danger"></span>
            </div>-->
            </div>
        </div>

        <!--<div class="row">
        if (Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Services Supported</label>
                    <input class="form-control" disabled value=ViewBag.Original_Services_Supported" data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Services_Supported"></label>
                <input asp-for="Services_Supported" class="form-control disable-on-archived" data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" />
                <span asp-validation-for="Services_Supported" class="text-danger"></span>
            </div>
        </div
    </div>-->

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Enrollment Dates</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Enrollment_Dates" data-toggle="tooltip" title="Enrollment dates for the SkillBridge program. Enter Continuous open enrollment or start/end dates (mm/dd/yy - mm/dd/yy)" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Enrollment_Dates"></label>
                    <input asp-for="Enrollment_Dates" class="form-control disable-on-archived" data-toggle="tooltip" title="Enrollment dates for the SkillBridge program. Enter Continuous open enrollment or start/end dates (mm/dd/yy - mm/dd/yy)" />
                    <span asp-validation-for="Enrollment_Dates" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Program URL</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Program_Url" data-toggle="tooltip" title="Website address of Skillbridge organization" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Program_Url"></label>
                    <input asp-for="Program_Url" class="form-control disable-on-archived" data-toggle="tooltip" title="Website address of Skillbridge organization" />
                    <span asp-validation-for="Program_Url" class="text-danger"></span>
                </div>
            </div>
        </div>



        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Admin POC First Name</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Admin_Poc_First_Name" data-toggle="tooltip" title="First name of SkillBridge Program administrative point of contact" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Admin_Poc_First_Name"></label>
                    <input asp-for="Admin_Poc_First_Name" class="form-control disable-on-archived" data-toggle="tooltip" title="First name of SkillBridge Program administrative point of contact" />
                    <span asp-validation-for="Admin_Poc_First_Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Admin POC Last Name</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Admin_Poc_Last_Name" data-toggle="tooltip" title="Last name of SkillBridge Program administrative point of contact" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Admin_Poc_Last_Name"></label>
                    <input asp-for="Admin_Poc_Last_Name" class="form-control disable-on-archived" data-toggle="tooltip" title="Last name of SkillBridge Program administrative point of contact" />
                    <span asp-validation-for="Admin_Poc_Last_Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Admin POC Email</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Admin_Poc_Email" data-toggle="tooltip" title="Email of SkillBridge Program administrative point of contact" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Admin_Poc_Email"></label>
                    <input asp-for="Admin_Poc_Email" class="form-control disable-on-archived" data-toggle="tooltip" title="Email of SkillBridge Program administrative point of contact" />
                    <span asp-validation-for="Admin_Poc_Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Admin POC Phone</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Admin_Poc_Phone" data-toggle="tooltip" title="Phone number of SkillBridge Program administrative point of contact" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Admin_Poc_Phone"></label>
                    <input asp-for="Admin_Poc_Phone" class="form-control disable-on-archived" data-toggle="tooltip" title="Phone number of SkillBridge Program administrative point of contact" />
                    <span asp-validation-for="Admin_Poc_Phone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Public POC Name</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Public_Poc_Name" data-toggle="tooltip" title="Name of SkillBridge Program point of contact to publish on website" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Public_Poc_Name"></label>
                    <input asp-for="Public_Poc_Name" class="form-control disable-on-archived" data-toggle="tooltip" title="Name of SkillBridge Program point of contact to publish on website" />
                    <span asp-validation-for="Public_Poc_Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Public POC Email</label>
                        <input class="form-control" disabled value="@ViewBag.Original_Public_Poc_Email" data-toggle="tooltip" title="Email of SkillBridge Program point of contact to publish on website" />
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Public_Poc_Email"></label>
                    <input asp-for="Public_Poc_Email" class="form-control disable-on-archived" data-toggle="tooltip" title="Email of SkillBridge Program point of contact to publish on website" />
                    <span asp-validation-for="Public_Poc_Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            @if (@Model.Pending_Change_Status == 0)
            {
                <div class="col-5">
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control" disabled value="@ViewBag.Original_Notes" data-toggle="tooltip" title="Analyst notes">@ViewBag.Original_Notes</textarea>
                    </div>
                </div>
                <div class="col-2">
                    <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
                </div>
            }
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Notes"></label>
                    <textarea asp-for="Notes" class="form-control disable-on-archived" data-toggle="tooltip" title="Analyst notes"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                <label>For Spouses</label>
                <input class="form-control" disabled value="ViewBag.Original_For_Spouses" data-toggle="tooltip" title="1 is for spouse, 0 is not. Used for creation of spouses table" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="For_Spouses"></label>
                <input asp-for="For_Spouses" class="form-control disable-on-archived" data-toggle="tooltip" title="1 is for spouse, 0 is not. Used for creation of spouses table" />
                <span asp-validation-for="For_Spouses" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        @if (trainingPlan != null)
        {
            <div id="tp" class="mt-3">
                @if (originalTrainingPlan == null)
                {
                    @await Html.PartialAsync("~/Views/Shared/_TrainingPlanForm.cshtml", trainingPlan)
                }
                else
                {
                    if (Model.Pending_Change_Status == 0)
                    {
                            @await Html.PartialAsync("~/Views/Analyst/_ReviewTrainingPlanForm.cshtml")
                    }
                    else
                    {
                    @await Html.PartialAsync("~/Views/Shared/_TrainingPlanView.cshtml", trainingPlan)
                    }
                }
            </div>
        }


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Rejection_Reason"></label>
                    <textarea asp-for="Rejection_Reason" id="Rejection_Reason" class="form-control disable-on-archived" data-toggle="tooltip" title="The reason you are rejecting the changes to this record" required></textarea>
                    <span asp-validation-for="Rejection_Reason" class="text-danger"></span>
                </div>
            </div>
        </div>
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button id="submit" class="btn btn-success" asp-route-progId="@Model.Id">Approve</button>
                        <button asp-controller="Analyst" asp-action="RejectPendingProgChange" asp-route-progId="@Model.Id" class="btn btn-danger">Reject</button>
                    </div>
                </div>
            </div>
        }
    </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>   <!--INTERFERES WITH DATATABLES FOR SOME -->
    <!-- On document load, make sure that fields that were previously edited are marked -->
    <script type="text/javascript">
        $(document).ready(function () {
            var listOfFields = @Json.Serialize(Model.Pending_Fields);
            var count = @Model.Pending_Fields.Count;
            //console.log("listOfFields: " + listOfFields);
            //var listOfFields = JSON.parse('');
            for (var i = 0; i < count; i++) {
                var field = listOfFields[i];
                $("label[for=" + field + "]").append("<i class='fa fa-exclamation-circle fa-fw changed-field' data-toggle='tooltip' title='This field has a pending change that will be replaced if you edit it.'></i>");
                $("label[for=" + field + "]").addClass("text-danger");
            }

            $(".custom-select").select2();

            // Fix select2 508 issues
            $(".select2-selection").removeAttr("role");
            $(".select2-search__field").removeAttr("role");
            $(".select2-search__field").attr("aria-label", "textbox");
            $(".select2-search__field").attr("type", "text");

            $("#orig-prog-duration-dropdown").select2("val", '@ViewBag.Original_Program_Duration');
            //$("#orig-delivery-method-dropdown").select2("val", '@ViewBag.Original_Delivery_Method');

            // Bootstrap tooltips for select2
            $(".select2-container").tooltip({
                title: function () {
                    return $(this).prev().attr("data-original-title");
                },
                placement: "auto",
                animation: false
            });

            // If this was already resolved, disable the input fields
            var status = @Model.Pending_Change_Status;
            if (status != 0)
            {
                $(".disable-on-archived").attr("disabled", "");
            }

            $("#submit").click(function() {
              EnsureRejectionReasonFilled();
            });

            function EnsureRejectionReasonFilled() {
              $('#Rejection_Reason').val(' ');
              $('#form').submit();
            }
        });
    </script>
}