@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Taku.Core.Enums
@model Skillbridge.Business.Model.Db.EditOpportunityModel
@{
    ViewData["Title"] = "Review Opportunity Addition";

    var trainingPlan = (Skillbridge.Business.Model.Db.TrainingPlans.TrainingPlan)ViewBag.TrainingPlan;
    var originalTrainingPlan = (Skillbridge.Business.Model.Db.TrainingPlans.TrainingPlan)ViewBag.OriginalTrainingPlan;
    var trainingPlanLengthsList = (List<Skillbridge.Business.Model.Db.TrainingPlans.TrainingPlanLength>)ViewBag.TrainingPlanLengthsList;
    var instructionalMethodsList = (List<Skillbridge.Business.Model.Db.TrainingPlans.InstructionalMethod>)ViewBag.InstructionalMethodsList;
}

<h1>Review Opportunity Addition</h1>
<!--<p><span class="badge badge-dark" style="padding:6px;">Opportunity ID: @Model.Id</span></p>-->
<div class="row">
    <div class="col">

        @{
            // If there are changed fields and its status is set to pending
            if (@Model.Pending_Fields.Count > 0 && @Model.Pending_Change_Status == 0)
            {
                        <div class="change-msg">Fields marked with <i class='fa fa-exclamation-circle fa-fw'></i> have a pending update already waiting for approval from an analyst. Changes to these fields will replace the previous change!</div>

                //ViewBag.RowClass = "pending-row-alt";
                ViewBag.InputFieldClass = "col-5";
            }
            else
            {
                //ViewBag.RowClass = "";
                ViewBag.InputFieldClass = "col";
            }
        }

    <form method="post" id="form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!--Hidden Fields for Fields Not Editable by Users-->
        <!--MAY WANT TO SHOW ACTUAL DATA FOR ANALYSTS/ADMINS-->

        <input asp-for="@Model.Date_Created" type="hidden" />
        <input asp-for="@Model.Created_By" type="hidden" />
        <input asp-for="@Model.Updated_By" type="hidden" />
        <input asp-for="@Model.Legacy_Provider_Id" type="hidden" />
        <input asp-for="@Model.Legacy_Program_Id" type="hidden" />
        <input asp-for="@Model.Legacy_Opportunity_Id" type="hidden" />
        <input asp-for="@Model.Id" type="hidden" />
        <input asp-for="@Model.Date_Program_Initiated" type="hidden" />
        <input asp-for="@Model.Group_Id" type="hidden" />
        <input asp-for="@Model.Mous" type="hidden" />
        <input asp-for="@Model.Num_Locations" type="hidden" />
        <input asp-for="@Model.Multiple_Locations" type="hidden" />
        <input asp-for="@Model.Support_Cohorts" type="hidden" />
        <input asp-for="@Model.Nationwide" type="hidden" />
        <input asp-for="@Model.Online" type="hidden" />
        <input asp-for="@Model.For_Spouses" type="hidden" />
        <input asp-for="@Model.Program_Name" type="hidden" />

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Group ID</label>
                    <input class="form-control" disabled value="ViewBag.Original_Group_Id" data-toggle="tooltip" title="" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Group_Id"></label>
                <input asp-for="Group_Id" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Group_Id" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
        <div class="col-5">
            <div class="form-group">
                            <label>Program/Program Office/Agency</label>
                            <input class="form-control" disabled value="@ViewBag.Original_Program_Name" data-toggle="tooltip" title="Name of SkillBridge Program, Program Office, or Agency" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Program_Name"></label>
                <input asp-for="Program_Name" class="form-control disable-on-archived" data-toggle="tooltip" title="Name of SkillBridge Program, Program Office, or Agency" />
                <span asp-validation-for="Program_Name" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="col">
                <div class="card-header" style="border: 1px solid rgba(0,0,0,.125);">
                    <label asp-for="Is_Active" style="font-size:20px;">Active Opportunity</label>&nbsp;
                    <input id="is-active-toggle" type="checkbox" asp-for="Is_Active" data-toggle="toggle" data-onstyle="success outline-dark" data-offstyle="secondary outline-dark" data-on="Active" data-off="Inactive" data-size="sm" data-style="fast" class="disable-on-archived is-active-toggle">
                    <div class="alert alert-info mt-1" role="alert">
                        <p class="bold">Switching the Opportunity to:</p>
                        <ul>
                            <li><span class="bold" style="color: #28a745;">ACTIVE</span> will display the opportunity on the SkillBridge site</li>
                            <li><span class="bold" style="color: #6c757d;">INACTIVE</span> will remove the opportunity from the SkillBridge site</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Opportunity_Url"></label>
                    <input asp-for="Opportunity_Url" class="form-control disable-on-archived" data-toggle="tooltip" title="Website address of Skillbridge opportunity" />
                    <span asp-validation-for="Opportunity_Url" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
            {
        <div class="col-5">
            <div class="form-group">
                <label>Date Program Initiated</label>
                <input class="form-control" disabled value="ViewBag.Original_Date_Program_Initiated.ToString("MM/dd/yyyy")" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
            }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Date_Program_Initiated"></label>
                <input asp-for="Date_Program_Initiated" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Date_Program_Initiated" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Employer_Poc_Name"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Employer_Poc_Name" class="form-control disable-on-archived" data-toggle="tooltip" title="Name of SkillBridge employer point of contact" />
                    <span asp-validation-for="Employer_Poc_Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Employer_Poc_Email"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Employer_Poc_Email" class="form-control disable-on-archived" data-toggle="tooltip" title="E-mail address of SkillBridge employer point of contact" />
                    <span asp-validation-for="Employer_Poc_Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Training_Duration"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Training_Duration" class="form-control disable-on-archived" data-toggle="tooltip" title="Duration of the training program in weeks" />
                    <span asp-validation-for="Training_Duration" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Service"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Service" class="form-control disable-on-archived" data-toggle="tooltip" title="Military branch the SkillBridge program serves (select all that apply)" />
                    <span asp-validation-for="Service" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <!--<div class="form-group">
                <label asp-for="Program_Duration"></label>
                <input asp-for="Program_Duration" class="form-control disable-on-archived" data-toggle="tooltip" title="Duration of the SkillBridge program in days" />
                <span asp-validation-for="Program_Duration" class="text-danger"></span>
            </div>-->
                <div class="form-group" id="delivery-method-select-container">
                    <label asp-for="Delivery_Method">Delivery Method</label>
                    <!--<input type="hidden" asp-for="OrganizationId" />-->
                    <select id="delivery-method-dropdown" class="browser-default custom-select" asp-for="Delivery_Method" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="The format in which the SkillBridge program is offered">
                        <option value="0">In-person</option>
                        <option value="1">Online</option>
                        <option value="2">Hybrid</option>
                    </select>
                    <span asp-validation-for="Delivery_Method" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Multiple Locations</label>
                    <input class="form-control" disabled value="@ViewBag.Original_Multiple_Locations" data-toggle="tooltip" title="Check if opportunity is available in more than one location" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Multiple_Locations"></label>
                <input asp-for="Multiple_Locations" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if opportunity is available in more than one location" />
                <span asp-validation-for="Multiple_Locations" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Program_Type"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Program_Type" class="form-control disable-on-archived" data-toggle="tooltip" title="Type of training program" />
                    <span asp-validation-for="Program_Type" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Job_Families"></label>
                    <input asp-for="Job_Families" class="form-control disable-on-archived" data-toggle="tooltip" title="ONET Job Family to which the SkillBridge program relates" />
                    <span asp-validation-for="Job_Families" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <!--<div class="form-group">
                <label asp-for="Participation_Populations"></label>
                <select asp-for="Participation_Populations"
                        class="form-control custom-select disable-on-archived"
                        asp-items="Html.GetEnumSelectList<ParticipationPopulation>()" multiple data-toggle="tooltip" title="Who can participate">
                    <option value="-1">Select One</option>
                </select>
                <span asp-validation-for="Participation_Populations" class="text-danger"></span>
            </div>-->
                <div class="form-group">
                    <label asp-for="Participation_Populations"></label>
                    <input asp-for="Participation_Populations" class="form-control disable-on-archived" data-toggle="tooltip" title="Who is allowed to participate in the SkillBridge program (Service members, veterans, and/or spouses)" />
                    <span asp-validation-for="Participation_Populations" class="text-danger"></span>
                </div>
            </div>
        </div>



        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Support Cohorts</label>
                    <input class="form-control" disabled value="@ViewBag.Original_Support_Cohorts" data-toggle="tooltip" title="Check if opportunity is offered to 3 or more participants at once" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Support_Cohorts"></label>
                <input asp-for="Support_Cohorts" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if opportunity is offered to 3 or more participants at once" />
                <span asp-validation-for="Support_Cohorts" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Enrollment_Dates"></label>
                    <input asp-for="Enrollment_Dates" class="form-control disable-on-archived" data-toggle="tooltip" title="Enrollment dates for the SkillBridge program (Continuous open enrollment  or start/end dates mm/dd/yy - mm/dd/yy)" />
                    <span asp-validation-for="Enrollment_Dates" class="text-danger"></span>
                </div>
            </div>
        </div>



        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
            {
        <div class="col-5">
            <div class="form-group">
                <label>MOUs</label>
                <input class="form-control" disabled value="ViewBag.Original_Mous" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
            }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Mous"></label>
                <input asp-for="Mous" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Mous" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
            {
        <div class="col-5">
            <div class="form-group">
                <label>Number of Locations</label>
                <input class="form-control" disabled value="ViewBag.Original_Num_Locations" data-toggle="tooltip" title="" />
            </div>
        </div>
        <div class="col-2">
            <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
        </div>
            }
        <div class="ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Num_Locations"></label>
                <input asp-for="Num_Locations" class="form-control disable-on-archived" data-toggle="tooltip" title="" />
                <span asp-validation-for="Num_Locations" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Installation"></label>
                    <input asp-for="Installation" class="form-control disable-on-archived" data-toggle="tooltip" title="Military installation where the opportunity operates" />
                    <span asp-validation-for="Installation" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control disable-on-archived" data-toggle="tooltip" title="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="State"></label>
                    <select asp-for="State" class="form-control custom-select disable-on-archived" asp-items="@(new SelectList(ViewBag.States,"Code","Label"))" data-toggle="tooltip" title="State" aria-label="State">
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
                <label asp-for="State"></label>
                <input asp-for="State" class="form-control disable-on-archived" data-toggle="tooltip" title="State" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>-->
                <!--<div class="form-group">
                <label asp-for="State"></label>
                <select asp-for="State"
                        class="form-control custom-select disable-on-archived"
                        asp-items="Html.GetEnumSelectList<States>()">
                    <option value="-1">Select One</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>-->
            </div>
        </div>
        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Zip"></label>
                    <input asp-for="Zip" class="form-control disable-on-archived" data-toggle="tooltip" title="Zip" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Lat"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Lat" class="form-control disable-on-archived" data-toggle="tooltip" title="Latitude" />
                    <span asp-validation-for="Lat" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Long"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Long" class="form-control disable-on-archived" data-toggle="tooltip" title="Longitude" />
                    <span asp-validation-for="Long" class="text-danger"></span>
                </div>
            </div>
        </div>







        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Nationwide</label>
                    <input class="form-control" disabled value="@ViewBag.Original_Nationwide" data-toggle="tooltip" title="Check if opportunity is in 3 or more states and 2 or more regions (Cardinal Areas of US)" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Nationwide"></label>
                <input asp-for="Nationwide" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if opportunity is in 3 or more states and 2 or more regions (Cardinal Areas of US)" />
                <span asp-validation-for="Nationwide" class="text-danger"></span>
            </div>
        </div>
    </div>-->
        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>Online</label>
                    <input class="form-control" disabled value="@ViewBag.Original_Online" data-toggle="tooltip" title="Check if opportunity is only available online. If online, then also check Nationwide." />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="Online"></label>
                <input asp-for="Online" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if opportunity is only available online. If online, then also check Nationwide." />
                <span asp-validation-for="Online" class="text-danger"></span>
            </div>
        </div>
    </div>-->

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Summary_Description"></label><span class="req">&nbsp;*</span>
                    <textarea asp-for="Summary_Description" class="form-control disable-on-archived" data-toggle="tooltip" title="Description of SkillBridge opportunity"></textarea>
                    <span asp-validation-for="Summary_Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Jobs_Description"></label><span class="req">&nbsp;*</span>
                    <textarea asp-for="Jobs_Description" class="form-control disable-on-archived" data-toggle="tooltip" title="Description of specific job duties"></textarea>
                    <span asp-validation-for="Jobs_Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Links_To_Prospective_Jobs"></label>
                    <input asp-for="Links_To_Prospective_Jobs" class="form-control disable-on-archived" data-toggle="tooltip" title="Website address to prospective job openings" />
                    <span asp-validation-for="Links_To_Prospective_Jobs" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Locations_Of_Prospective_Jobs_By_State"></label>
                    <input asp-for="Locations_Of_Prospective_Jobs_By_State" class="form-control disable-on-archived" data-toggle="tooltip" title="States where prospective jobs are located" />
                    <span asp-validation-for="Locations_Of_Prospective_Jobs_By_State" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Salary"></label>
                    <input asp-for="Salary" class="form-control disable-on-archived" data-toggle="tooltip" title="Estimated annual salary" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Prospective_Job_Labor_Demand"></label>
                    <input asp-for="Prospective_Job_Labor_Demand" class="form-control disable-on-archived" data-toggle="tooltip" title="General demand for the opportunity (Growing/Average/etc)" />
                    <span asp-validation-for="Prospective_Job_Labor_Demand" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Target_Mocs"></label>
                    <input asp-for="Target_Mocs" class="form-control disable-on-archived" data-toggle="tooltip" title="Preferred Military Occupational Code(s) for SkillBridge opportunity" />
                    <span asp-validation-for="Target_Mocs" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Other_Eligibility_Factors"></label>
                    <textarea asp-for="Other_Eligibility_Factors" class="form-control disable-on-archived" data-toggle="tooltip" title="Additional prerequisites"></textarea>
                    <span asp-validation-for="Other_Eligibility_Factors" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Cost"></label><span class="req">&nbsp;*</span>
                    <input asp-for="Cost" class="form-control disable-on-archived" data-toggle="tooltip" title="Cost of SkillBridge opportunity" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                        <label asp-for="Other"></label><span class="req">&nbsp;*</span>
                    <textarea asp-for="Other" class="form-control disable-on-archived" data-toggle="tooltip" title="Misc. Information to be displayed on the locations table"></textarea>
                    <span asp-validation-for="Other" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="@ViewBag.InputFieldClass">
                <div class="form-group">
                    <label asp-for="Notes"></label>
                    <textarea asp-for="Notes" class="form-control disable-on-archived" data-toggle="tooltip" title="Analyst notes"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--<div class="row">
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="col-5">
                <div class="form-group">
                    <label>For Spouses</label>
                    <input class="form-control" disabled value="@ViewBag.Original_For_Spouses" data-toggle="tooltip" title="Check if opportunity is available to military spouses" />
                </div>
            </div>
            <div class="col-2">
                <i class="fa fa-arrow-circle-right fa-fw" style="font-size: 40px; margin: 20px auto 0; display: block;"></i>
            </div>
        }
        <div class="@ViewBag.InputFieldClass">
            <div class="form-group">
                <label asp-for="For_Spouses"></label>
                <input asp-for="For_Spouses" class="form-control disable-on-archived" data-toggle="tooltip" title="Check if opportunity is available to military spouses" />
                <span asp-validation-for="For_Spouses" class="text-danger"></span>
            </div>
        </div>
    </div>-->
            @if (trainingPlan != null)
            {
                <div id="tp" class="mt-3">
                    @if (originalTrainingPlan == null)
                    {
                        @await Html.PartialAsync("~/Views/Shared/_TrainingPlanForm.cshtml", trainingPlan)
                    }
                    else
                    {
                        if (Model.Pending_Change_Status == 0)
                        {
                            @await Html.PartialAsync("~/Views/Analyst/_ReviewTrainingPlanForm.cshtml")
                        }
                        else
                        {
                            @await Html.PartialAsync("~/Views/Shared/_TrainingPlanView.cshtml", trainingPlan)
                        }
                    }
                </div>
            }
            <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Rejection_Reason"></label>
                    <textarea asp-for="Rejection_Reason" id="Rejection_Reason" class="form-control disable-on-archived" data-toggle="tooltip" title="The reason you are rejecting the changes to this record" required></textarea>
                    <span asp-validation-for="Rejection_Reason" class="text-danger"></span>
                </div>
            </div>
        </div>
        @if (@Model.Pending_Change_Status == 0)
        {
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button id="submit" class="btn btn-success" asp-route-pendingId="@Model.Id" asp-route-organizationId="@ViewBag.Organization_Id" asp-route-programId="@ViewBag.Program_Id">Approve</button>
                        <button asp-controller="Analyst" asp-action="RejectPendingOppAddition" asp-route-pendingId="@Model.Id" class="btn btn-danger">Reject</button>
                    </div>
                </div>
            </div>
        }
    </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- On document load, make sure that fields that were previously edited are marked -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".custom-select").select2();

            var listOfFields = @Json.Serialize(Model.Pending_Fields);
            var count = @Model.Pending_Fields.Count;
            //console.log("listOfFields: " + listOfFields);
            //var listOfFields = JSON.parse('');
            for (var i = 0; i < count; i++) {
                var field = listOfFields[i];
                $("label[for=" + field + "]").append("<i class='fa fa-exclamation-circle fa-fw changed-field' data-toggle='tooltip' title='This field has a pending change that will be replaced if you edit it.'></i>");
            }



            // Fix select2 508 issues
            $(".select2-selection").removeAttr("role");
            $(".select2-search__field").removeAttr("role");
            $(".select2-search__field").attr("aria-label", "textbox");
            $(".select2-search__field").attr("type", "text");

            //console.log("#original-state-dropdown: " + $("#original-state-dropdown"));
            //console.log("ViewBag.Original_State: " + @ViewBag.Original_State);

            $("#original-state-dropdown").val('@ViewBag.Original_State').trigger("change");
            //$("#original-state-dropdown").select2("val", @ViewBag.Original_State).trigger("change");
            //$("#original-state-dropdown").attr("disabled", "");

            /*var originalDeliveryMethod = @ViewBag.Original_Delivery_Method
            var deliveryMethod = @ViewBag.Delivery_Method

            console.log("originalDeliveryMethod: " + originalDeliveryMethod);
            console.log("deliveryMethod: " + deliveryMethod);
            */
            /*var originalActive = Boolean(ViewBag.Original_Is_Active);
            console.log("originalActive: " + originalActive);

            if (originalActive) {
                $("#original-is-active").attr("checked", "checked");
            }*/

            // Bootstrap tooltips for select2
            $(".select2-container").tooltip({
                title: function () {
                    return $(this).prev().attr("data-original-title");
                },
                placement: "auto",
                animation: false
            });

            // If this was already resolved, disable the input fields
            var status = @Model.Pending_Change_Status;
            if (status != 0)
            {
                $(".disable-on-archived").attr("disabled", "");
            }

            $("#submit").click(function() {
              EnsureRejectionReasonFilled();
            });

            function EnsureRejectionReasonFilled() {
              $('#Rejection_Reason').val(' ');
              $('#form').submit();
            }
        });
    </script>
}