@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SkillBridge.Business.Model.Db.EditOrganizationModel
@{
    ViewData["Title"] = "Edit Organization";

    var mouFile = (SkillBridge.Business.Model.Db.MouFile)ViewBag.MouFile;
}

<h1>Edit Organization</h1>

<!--<div class="row">
    <div class="col">
        <p>The changes you make to your Organization will be reviewed by a SkillBridge Analyst before posting to the SkillBridge website.</p>
        <div class="card rules-container">
            <div class="card-header">
                <h2>Please observe the following rules or your updates will not be posted:</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>No profanity</li>
                            <li>No sexual content</li>
                            <li>No overly graphic, disturbing, or offensive material</li>
                            <li>No vulgar or abusive language</li>
                            <li>No hate speech or offensive language targeting any specific demographic</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>No personal attacks</li>
                            <li>No spam</li>
                            <li>No promotions for commercial products or services</li>
                            <li>No unsolicited proposals or other business ideas or inquiries</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-10">
        <p>Enter the basic information and point of contact(s) for your organization below. When complete, a <i class="fa fa-exclamation-circle fa-fw changed-field" data-toggle="tooltip" title="Pending change"></i> will appear next to fields that have been edited.</p>
        <p>Once submitted and approved by the SkillBridge team, the updated information for your organization will appear on the <a href="https://dodskillbridge.usalearning.gov/organizations.htm" title="External Link to: SkillBridge Authorized Organizations" target="_blank">Authorized Organizations</a> page. If your edits are not approved, you will receive an email notification with explanation. Edits may be rejected if they violate posting guidelines.</p>
        <!--<ul>
        <li>Once you're done editing your organization's data, you'll see a <i class="fa fa-exclamation-circle fa-fw changed-field" data-toggle="tooltip" title="Pending change"></i> next to fields that were edited</li>
        <li>Any edits you make will first be reviewed by a SkillBridge Analyst before being posted on the public SkillBridge website</li>
        <li>If your edits are not approved, you will receive an email message stating why your change(s) were not approved</li>
    </ul>-->
    </div>
    <div class="col-md-2">
        <a class="btn d-inline-block btn-success float-right" id="edit-record-btn" data-toggle="tooltip" title="Edit Organization" asp-controller="MyOrganization" asp-action="EditOrganization" asp-route-edit="true"><i class="fa fa-edit fa-fw"></i>&nbsp;Edit</a>
    </div>
</div>

        <div class="row">
            <div class="col">

                @if (Model != null)
        {
            // If we have pending field changes
            if (Model.Pending_Fields.Count > 0 && Model.Pending_Change_Status == 0)
            {
                <div class="change-msg">Fields marked with <i class='fa fa-exclamation-circle fa-fw'></i> have a pending update already waiting for approval from an analyst. Changes to these fields will replace the previous change!</div>
            }
        }

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <!--Hidden Fields for Fields Not Editable by Users-->
                <!--MAY WANT TO SHOW ACTUAL DATA FOR ANALYSTS/ADMINS-->

                <input asp-for="@Model.Date_Created" type="hidden" />
                <input asp-for="@Model.Created_By" type="hidden" />
                <input asp-for="@Model.Legacy_Provider_Id" type="hidden" />
                <input asp-for="@Model.Id" type="hidden" />
                <input asp-for="@Model.Pending_Fields" type="hidden" />
                <input asp-for="@Model.Date_Deactivated" type="hidden" />
                <input asp-for="@Model.Notes" type="hidden" />

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="card-header" style="border: 1px solid rgba(0,0,0,.125);">
                                <label asp-for="Is_Active" style="font-size:20px;">Active Organization</label>&nbsp;
                            <input id="is-active-toggle" type="checkbox" asp-for="Is_Active" data-toggle="toggle" data-onstyle="success outline-dark" data-offstyle="secondary outline-dark" data-on="Active" data-off="Inactive" data-size="sm" data-style="fast" class="is-active-toggle" />
                                <div class="alert alert-info mt-1" role="alert">
                                    <p class="bold">Switching the Organization to:</p>
                                    <ul>
                                        <li><span class="bold" style="color: #28a745;">ACTIVE</span> will display the organization on the SkillBridge site</li>
                                        <li><span class="bold" style="color: #6c757d;">INACTIVE</span> will remove the organization from the SkillBridge site</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" data-toggle="tooltip" title="Name of Organization" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Organization_Url"></label>
                            <input asp-for="Organization_Url" class="form-control" data-toggle="tooltip" title="Website address of SkillBridge organization" />
                            <span asp-validation-for="Organization_Url" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="org-type-select-container">
                            <label asp-for="Organization_Type">Organization Type</label>
                            <!--<input type="hidden" asp-for="OrganizationId" />-->
                            <select id="org-type-dropdown" class="custom-select" asp-for="Organization_Type" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="Which type of organization is this?">
                                <option value="0">Profit</option>
                                <option value="1">Non or Not for Profit</option>
                                <option value="2">County, Municipal, City</option>
                                <option value="3">State</option>
                                <option value="4">Federal</option>
                            </select>
                            <span asp-validation-for="Organization_Type" class="text-danger"></span>
                        </div>
                        <!--<div class="form-group">
                <label asp-for="Notes"></label>
                <input asp-for="Notes" class="form-control" data-toggle="tooltip" title="Internal notes on the organization, only for analysts/admins" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>-->
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Poc_First_Name"></label>
                            <input asp-for="Poc_First_Name" class="form-control" data-toggle="tooltip" title="First name of Point of Contact" />
                            <span asp-validation-for="Poc_First_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Poc_Last_Name"></label>
                            <input asp-for="Poc_Last_Name" class="form-control" data-toggle="tooltip" title="Last name of Point of Contact" />
                            <span asp-validation-for="Poc_Last_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Poc_Email"></label>
                            <input asp-for="Poc_Email" class="form-control" data-toggle="tooltip" title="E-mail address of Point of Contact" />
                            <span asp-validation-for="Poc_Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Poc_Phone"></label>
                            <input asp-for="Poc_Phone" class="form-control" data-toggle="tooltip" title="Phone number of Point of Contact" />
                            <span asp-validation-for="Poc_Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>MOU Information</h4>
                            </div>
                            <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div><span class="bold">Owning Organization:</span> @ViewBag.MOU_Organization_Name</div>
                                    <div><span class="bold">Creation Date:</span> @ViewBag.MOU_Creation_Date.ToString("MM/dd/yyyy")</div>
                                    <div><span class="bold">Expiration Date:</span>  @ViewBag.MOU_Expiration_Date.ToString("MM/dd/yyyy")</div>
                                    <div><span class="bold">Service(s):</span> @ViewBag.MOU_Service</div>
                                </div>
                                <div class="col">
                                        <div>
                                            <span class="bold">MOU File Name:</span>
                                            @if (mouFile != null)
                                            {
                                                <a href="/myorganization/viewmoufile/@mouFile.Id" target="_blank">@Html.Raw(mouFile.FileName)</a>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </div>
                                        <div><span class="bold">File Size:</span> @(mouFile != null ? mouFile.GetContentLengthForDisplay() : "N/A")</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <button id="update-btn" type="submit" class="btn btn-primary">Update</button>
            </form>
            </div>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>   <!--INTERFERES WITH DATATABLES FOR SOME -->
            <!-- On document load, make sure that fields that were previously edited are marked -->
            <script type="text/javascript">
                $(document).ready(function () {
                    changeDetectionEnabled = true;  // Enable field change detection for submitting updates

                    $(".custom-select").select2();

                    var listOfFields = @Json.Serialize(Model.Pending_Fields);
                    var count = @Model.Pending_Fields.Count;
                    //console.log("listOfFields: " + listOfFields);
                    //var listOfFields = JSON.parse('');
                    for (var i = 0; i < count; i++)
                    {
                        var field = listOfFields[i];
                        $("label[for=" + field + "]").append("<i class='fa fa-exclamation-circle fa-fw changed-field' data-toggle='tooltip' title='This field has a pending change that will be replaced if you edit it.'></i>");
                    }

                    // Bootstrap tooltips for select2
                    $(".select2-container").tooltip({
                        title: function () {
                            return $(this).prev().attr("data-original-title");
                        },
                        placement: "auto",
                        animation: false
                    });

                    HandleEditViews();
                });

                
            </script>
        }
