@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<SkillBridge.Business.Model.Db.OrganizationModel>
@{
    ViewData["Title"] = "My Organizations";
}

<h1>My Organizations</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Organization Name</th>
            <th>URL</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var org in Model)
        {
            <tr>
                <td>
                    <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="View Organization" asp-controller="MyOrganization" asp-action="EditOrganization" asp-route-id="@org.Id" asp-route-edit="false" aria-label="View Organization"><i class="fa fa-eye fa-fw"></i></a>
                    <a class="btn d-inline-block edit-btn" data-toggle='tooltip' title="Edit Organization" asp-controller="MyOrganization" asp-action="EditOrganization" asp-route-id="@org.Id" asp-route-edit="true" aria-label="Edit Organization"><i class="fa fa-edit fa-fw"></i></a>
                </td>
                <td>@Html.Raw(org.Name)</td>
                <td>@(org.Organization_Url)</td>
                <td>@(org.Is_Active ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
