@{
    var trainingPlan = (SkillBridge.Business.Model.Db.TrainingPlans.TrainingPlan)Model;
    var trainingPlanLengthsList = (List<SkillBridge.Business.Model.Db.TrainingPlans.TrainingPlanLength>)ViewBag.TrainingPlanLengthsList;
    var instructionalMethodsList = (List<SkillBridge.Business.Model.Db.TrainingPlans.InstructionalMethod>)ViewBag.InstructionalMethodsList;
}
<div class="card">
    <div class="card-header h5">Training Plan</div>
    <div class="card-body">
        <input type="hidden" id="Id" name="Id" value="@(trainingPlan.Id)" />

        <div class="row mb-2">
            <div class="col">
                <label for="Name">Please provide a name for this training plan that uniquely identifies it so you can distinguish it from other training plans you may have. <span class="req">&nbsp;*</span></label>
                <div class="font-italic">e.g., Training Plan for Data Analyst.</div>
                <div class="form-group">
                    <input type="text" id="Name" name="Name" value="@trainingPlan.Name" class="form-control" data-val="true" data-val-required="A name is required." data-toggle=" tooltip" title="What is the name of this training plan?" />
                    <span class="text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="JobTitle">What is the job title associated with this training plan? <span class="req">&nbsp;*</span></label>
                <div class="font-italic">e.g., Data Analyst.</div>
                <div class="form-group">
                    <input type="text" id="JobTitle" name="JobTitle" value="@trainingPlan.JobTitle" class="form-control" data-val="true" data-val-required="A job title is required." data-toggle=" tooltip" title="What is the job title associated with this training plan?" />
                    <span class="text-danger" data-valmsg-for="JobTitle" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="Description">Please provide a brief description of the above job. <span class="req">&nbsp;*</span></label>
                <div class="form-group">
                    <textarea id="Description" name="Description" class="form-control" data-val="true" data-val-required="A brief description of the job is required." data-toggle=" tooltip" title="Please provide a brief description of the above job.">@Html.Raw(trainingPlan.Description)</textarea>
                    <span class="text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label>How long does it take to complete the <span class="font-weight-bold underline">entire</span> training program? <span class="req">&nbsp;*</span></label>
                <div class="form-group" id="radio-container">
                    @for (var i=0; i<trainingPlanLengthsList.Count; i++)
                    {
                        <div class="form-check mr-3">
                            <label class="form-check-label font-weight-normal">
                                <input type="radio" class="form-check-input" id="TrainingPlanLengthId[@i]" name="TrainingPlanLengthId" value="@(trainingPlanLengthsList[i].Id)" @(trainingPlan.TrainingPlanLengthId == trainingPlanLengthsList[i].Id ? "checked" : String.Empty) data-val="true" data-val-required="The length of the training program is required." /> @Html.Raw(trainingPlanLengthsList[i].DisplayText)
                            </label>
                        </div>
                    }
                </div>
                <span class="text-danger" data-valmsg-for="TrainingPlanLengthId" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="BreakdownCount">Please enter the total number of weeks in your training plan: <span class="req">&nbsp;*</span></label>
                <div class="form-group">
                    <input id="BreakdownCount" name="BreakdownCount" type="number" class="form-control d-inline w-25" value="@(trainingPlan.BreakdownCount)"
                           data-msg-range="The total number of weeks must be greater than zero."
                           data-msg-required="The total number of weeks is required."
                           data-rule-number="true"
                           data-rule-range="[1,100]"
                           data-rule-required="true" 
                           data-toggle=" tooltip" 
                           title="Enter total number of weeks in your training plan" />
                </div>
            </div>
        </div>
        <div class="text-danger" data-valmsg-for="BreakdownCount" data-valmsg-replace="true"></div>
        <div id="BreakdownUi" class="mt-2 mb-2">
            @if (trainingPlan.BreakdownCount > 0)
            {
                <label>Please provide the Title of Training Module, Learning Objective, and Total Hours for each week covered in your SkillBridge program.</label>
                <div class="font-italic">Note: Learning objectives should clearly express how the organizations SkillBridge training objectives align with job competencies for each block of training(usually derived from a job task analysis for the job opportunity).</div>
                <table class="table mt-2">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Title of Training Module <span class="req">&nbsp;*</span></th>
                            <th>Learning Objective <span class="req">&nbsp;*</span></th>
                            <th>Total Hours <span class="req">&nbsp;*</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-italic">Ex.</td>
                            <td class="font-italic">Intro to Industry Operations</td>
                            <td class="font-italic">Participant will learn all of the organization's roles and their fucctions</td>
                            <td class="font-italic">8</td>
                        </tr>
                        @for (var i = 0; i < trainingPlan.TrainingPlanBreakdowns.Count; i++)
                    {
                            var breakdown = trainingPlan.TrainingPlanBreakdowns.FirstOrDefault(o => o.RowId == i + 1);
                        <tr>
                            <td>@(i + 1) <input type="hidden" id="TrainingPlanBreakdowns[@(i)]__RowId" name="TrainingPlanBreakdowns[@(i + 1)].RowId" value="@(i + 1)" /></td>
                            <td>
                                <input type="text" class="form-control" 
                                    id="TrainingPlanBreakdowns[@(i + 1)]__TrainingModuleTitle" 
                                    name="TrainingPlanBreakdowns[@(i + 1)].TrainingModuleTitle"
                                    data-val="true" 
                                    data-val-required="The training module title for week @(i+1) is required." 
                                    data-toggle="tooltip" 
                                    title="Enter the training module title for week @(i+1)" 
                                    value="@breakdown.TrainingModuleTitle"
                                />
                                <span class="text-danger field-validation-valid" data-valmsg-for="TrainingPlanBreakdowns[@(i + 1)].TrainingModuleTitle" data-valmsg-replace="true"></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    id="TrainingPlanBreakdowns[@(i + 1)]__LearningObjective" 
                                    name="TrainingPlanBreakdowns[@(i + 1)].LearningObjective"
                                    data-val="true" 
                                    data-val-required="The learning objective for week @(i+1) is required." 
                                    data-toggle="tooltip" 
                                    title="Enter the learning objective for week @(i+1)" 
                                    value="@breakdown.LearningObjective"
                                />
                                <span class="text-danger field-validation-valid" data-valmsg-for="TrainingPlanBreakdowns[@(i + 1)].LearningObjective" data-valmsg-replace="true"></span>
                            </td>                            
                            <td>
                                <input type="number" class="form-control" 
                                    id="TrainingPlanBreakdowns[@(i + 1)]__TotalHours" 
                                    name="TrainingPlanBreakdowns[@(i + 1)].TotalHours"
                                   style="width: 80px;"
                                   data-val="true"
                                   data-val-required="The total hours for week @(i+1) is required." 
                                    data-toggle="tooltip" 
                                    title="Enter the total hours for week @(i+1)"
                                    data-val-range="Total hours for week @(i+1) must be between 1 and 999."
                                    data-val-range-min="1" data-val-range-max="999"
                                   value="@breakdown.TotalHours" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="TrainingPlanBreakdowns[@(i + 1)].TotalHours" data-valmsg-replace="true"></span>
                            </td>                            
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="InstructionalModules">Please provide a list of each instructional module and its associated learning objective. <span class="req">&nbsp;*</span></label>
                <div class="form-group">
                    <div class="font-italic">e.g., Prepare for certification - Complete Continuing Education Units (CEUs).</div>
                    <textarea id="InstructionalModules" name="InstructionalModules" class="form-control" data-val="true" data-val-required="A list of each instructional module and its associated learning objective is required." data-toggle="tooltip" title="Please provide a list of each instructional module and its associated learning objective.">@Html.Raw(trainingPlan.InstructionalModules)</textarea>
                    <span class="text-danger" data-valmsg-for="InstructionalModules" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Which instructional methods are used to provide training? <span class="req">&nbsp;*</span></label>
                <div class="form-group" id="radio-container">
                    @for (var i=0; i<instructionalMethodsList.Count; i++)
                    {
                        <div class="form-check mr-3">
                            <label class="form-check-label font-weight-normal">
                                <input type="checkbox" class="form-check-input" value="@(instructionalMethodsList[i].Id)" id="TrainingPlanInstructionalMethods__@(i)__InstructionalMethodId" name="TrainingPlanInstructionalMethods[].InstructionalMethodId" data-val="true" requiredgroup="true" data-msg="At least one instruction method is required" @(trainingPlan.TrainingPlanInstructionalMethods.Any(o => o.InstructionalMethodId == instructionalMethodsList[i].Id) ? "checked" : String.Empty) /> @Html.Raw(instructionalMethodsList[i].DisplayText)
                            </label>
                        </div>
                        @if (instructionalMethodsList[i].IsOther)
                        {
                            <textarea id="TrainingPlanInstructionalMethods__@(i)__OtherText" name="TrainingPlanInstructionalMethods[].OtherText" class="form-control" data-toggle="tooltip" title="Please provide the other instruction method." data-val="true" requiredif="true" requiredif-dependentproperty="TrainingPlanInstructionalMethods__@(i)__InstructionalMethodId" requiredif-targetvalue="5" data-msg="Other instructional method is required">@(trainingPlan != null && trainingPlan.TrainingPlanInstructionalMethods != null && trainingPlan.TrainingPlanInstructionalMethods.Any(o => o.InstructionalMethodId == instructionalMethodsList[i].Id) ? trainingPlan.TrainingPlanInstructionalMethods.FirstOrDefault(o => o.InstructionalMethodId == instructionalMethodsList[i].Id).OtherText : String.Empty)</textarea>
                            <span class="text-danger" data-valmsg-for="TrainingPlanInstructionalMethods[].OtherText" data-valmsg-replace="true"></span>
                        }
                    }
                    <span class="text-danger" data-valmsg-for="TrainingPlanInstructionalMethods[].InstructionalMethodId" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="WhoDelivers">Please describe in detail who will be delivering training and their training credentials. <span class="req">&nbsp;*</span></label>
                <div class="form-group">
                    <div class="font-italic">
                        e.g., Dr. Jane Doe -- VP of Analysis with 10 years of experience. Doctorate in Statistics.
                    </div>
                    <textarea id="WhoDelivers" name="WhoDelivers" class="form-control" data-val="true" data-val-required="A description of who will be delivering training and their training credentials is required." data-toggle=" tooltip" title="Please describe in detail who will be delivering training and their training credentials.">@Html.Raw(trainingPlan.WhoDelivers)</textarea>
                    <span class="text-danger" data-valmsg-for="WhoDelivers" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="GradingRubric">Please describe the standardized grading rubric used to evaluate trainees. <span class="req">&nbsp;*</span></label>
                <div class="form-group">
                    <div class="font-italic">
                        e.g., Demonstrates understanding of basic statistical principles - 10%<br />
                        Correctly identifies reporting errors - 5%
                    </div>
                    <textarea id="GradingRubric" name="GradingRubric" class="form-control" data-val="true" data-val-required="The standardized grading rubric description is required." data-toggle="tooltip" title="Please describe the standardized grading rubric used to evaluate trainees.">@Html.Raw(trainingPlan.GradingRubric)</textarea>
                    <span class="text-danger" data-valmsg-for="GradingRubric" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="CredentialsEarned">
                    Please list any credentials, certificate, or hours gained toward licenses and/or certifications upon completing training. <span class="req">&nbsp;*</span>
                </label>
                <div class="font-italic">
                    e.g., Earns 20 continuing education credits toward Certified Analytics Professional (CAP) certification.
                </div>
                <div class="form-group">
                    <textarea id="CredentialsEarned" name="CredentialsEarned" class="form-control" data-val="true" data-val-required="A list of any credentials, certificate, or hours gained toward licenses and/or certifications upon completing training is required." data-toggle="tooltip" title="Please list any credentials, certificate, or hours gained toward licenses and/or certifications upon completing training.">@Html.Raw(trainingPlan.CredentialsEarned)</textarea>
                    <span class="text-danger" data-valmsg-for="CredentialsEarned" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
