@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@using SkillBridge.Business.Model.Db
@inject IConfiguration Configuration
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<!-- @ViewBag.Env -->
<div class="text-center">
    
    <h1 class="display-4" style="font-size:30px;">Welcome to the SkillBridge Content Management System</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        //Configuration.GetValue<string>("SBConnectionStringTest")
        <!--<h2>CurrentNotificationType: Configuration["CurrentNotificationType"]</h2>
        <div class="alert alert-warning" role="alert">
            Configuration["CurrentNotificationHTML"]
        </div>-->

        @if (ViewBag.NotificationType == 1)
        {
            <div class="alert alert-warning" role="alert">
                @Html.Raw(@ViewBag.NotificationHTML)
            </div>
        }
        else if (ViewBag.NotificationType == 2)
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(@ViewBag.NotificationHTML)
            </div>
        }
        else if (ViewBag.NotificationType == 3)
        {
            <div class="alert alert-success" role="alert">
                @Html.Raw(@ViewBag.NotificationHTML)
            </div>
        }

        <!--<div class="alert alert-warning" role="alert">
            The SkillBridge CMS system will undergo maintenance and may only be available intermittently today<br />We're sorry for any inconvenience.
        </div>-->
        <!--if (User.IsInRole("Organization"))
        {
            <p>This application will allow you to update information associated with your organization, program(s), and opportunity(s).</p>
        }
        else if (User.IsInRole("Program"))
        {
            <p>This application will allow you to update information associated with your organization’s program(s), and opportunity(s).</p>
        }
        else if (User.IsInRole("Service"))
        {
            <p>This application will allow you to view and download information associated with SkillBridge organizations, programs, and opportunities.</p>
        }-->
    }
</div>
@if (SignInManager.IsSignedIn(User))
{
    // my organizations if provider, all if service or admin or analyst
    //<script type="text/javascript">console.log("SignInManager.IsSignedIn is true");</script>
    if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col">
                <p class="welcome-text">As a SkillBridge Administrator, you can view/edit records for SkillBridge Organizations, Programs, and Opportunities, and approve recently submitted changes to records from organizations and program managers.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Organization Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted organization record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOrganizationChanges">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Program Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted program record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingProgramChanges">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Opportunity Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted opportunity record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOpportunityChanges">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Program Additions</h5>
                        <p class="card-text">View and approve or reject newly submitted program record additions for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingProgramAdditions">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Opportunity Additions</h5>
                        <p class="card-text">View and approve or reject newly submitted opportunity record additions for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOpportunityAdditions">View</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Analyst"))
    {
        <!--<div class="row">
        <div class="col">
        <div class="card">
        <div class="card-body">
        <p class="card-text">As a SkillBridge Analyst, you can view/edit records for SkillBridge Organizations, Programs, and Opportunities, and approve recently submitted changes to records from organizations and program managers.</p>
        </div>
        </div>
        </div>
        </div>-->
        <div class="row">
            <div class="col">
                <p class="welcome-text">As a SkillBridge Analyst, you can view/edit records for SkillBridge Organizations, Programs, and Opportunities, and approve recently submitted changes to records from organizations and program managers.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Organization Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted organization record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOrganizationChanges">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Program Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted program record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingProgramChanges">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Opportunity Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted opportunity record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOpportunityChanges">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Pending Program Additions</h5>
        <p class="card-text">View and approve or reject newly submitted program record additions for the SkillBridge site</p>
        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingProgramAdditions">View</a>
        </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Pending Opportunity Additions</h5>
        <p class="card-text">View and approve or reject newly submitted opportunity record additions for the SkillBridge site</p>
        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOpportunityAdditions">View</a>
        </div>
        </div>
        </div>
        </div>
    }
    else if (User.IsInRole("Organization"))
    {
        <!--<div class="row">
        <div class="col">
        <div class="card">
        <div class="card-body">
        <p class="card-text">Welcome to the SkillBridge Content Management System (CMS)! As a SkillBridge partner and provider, this application will allow you to update the information associated with your organization, program(s), and/or any available opportunities on the public-facing SkillBridge site. Select each section below to view or update the information for your organization, programs, and opportunities. Any edits made through this application will be subject to review by the SkillBridge team prior to uploading to the public site.</p>
        </div>
        </div>
        </div>
        </div>-->
        <div class="row">
            <div class="col">
                <p class="welcome-text">As a SkillBridge partner and provider, this application will allow you to update the information associated with your organization, program(s), and/or any available opportunities on the public-facing SkillBridge site. Select each section below to view or update the information for your organization, programs, and opportunities. Any edits made through this application will be subject to review by the SkillBridge team prior to uploading to the public site.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Organization</h5>
                        <p class="card-text">View and/or edit the basic information for your organization on the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="MyOrganization" asp-action="EditOrganization">My Organization</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Programs</h5>
                        <p class="card-text">View and/or edit your SkillBridge program(s) and program POCs</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="MyPrograms" asp-action="MyPrograms">My Programs</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Opportunities</h5>
                        <p class="card-text">View and/or edit any opportunities associated with your organization's SkillBridge program(s)</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="MyOpportunities" asp-action="MyOpportunities">My Opportunities</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Training Plans</h5>
                        <p class="card-text">View and/or edit any training plans associated with your organization's SkillBridge program(s)</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="TrainingPlans" asp-action="ListTrainingPlans">My Training Plans</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Program"))
    {
        <!--<div class="row">
        <div class="col">
        <div class="card">
        <div class="card-body">
        <p class="card-text">As a Program POC, you will be able to add/edit/delete information associated with your organization’s program(s), and/or opportunity(s).</p>
        </div>
        </div>
        </div>
        </div>-->
        <div class="row">
            <div class="col">
                <p class="welcome-text">As a SkillBridge provider, this application will allow you to update the information associated with your SkillBridge program(s) and/or any available opportunities on the public-facing SkillBridge site. Select each section below to view or update the information for your organization, programs, and opportunities. Any edits made through this application will be subject to review by the SkillBridge team prior to uploading to the public site.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Program</h5>
                        <p class="card-text">View and/or edit your SkillBridge program and program POCs</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="MyPrograms" asp-action="MyPrograms">My Program</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Opportunities</h5>
                        <p class="card-text">View and/or edit any opportunities associated with your organization's SkillBridge program(s)</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="MyOpportunities" asp-action="MyOpportunities">My Opportunities</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Service"))
    {
        <!--<div class="row">
        <div class="col">
        <div class="card">
        <div class="card-body">
        <p class="card-text">As a Service POC, you will be able to search and pull information on SkillBridge organizations, programs, and opportunities.</p>
        </div>
        </div>
        </div>
        </div>-->
        <div class="row">
            <div class="col">
                <p class="welcome-text">As a Military Service SkillBridge office, this application will allow you to access the information associated with all approved SkillBridge organizations, programs and opportunities listed on the public-facing SkillBridge site. Select each section below to view or download the information.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Organizations</h5>
                        <p class="card-text">Search for SkillBridge organizations</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Organizations" asp-action="ListOrganizations">All Organizations</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Programs</h5>
                        <p class="card-text">Search for SkillBridge programs</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Programs" asp-action="ListPrograms">All Programs</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Opportunities</h5>
                        <p class="card-text">Search for SkillBridge program opportunities</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Opportunities" asp-action="ListOpportunities">All Opportunities</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("OSD") || User.IsInRole("OSD Reviewer") || User.IsInRole("OSD Signatory"))
    {
        <div class="row">
            <div class="col">
                <p class="welcome-text">As a SkillBridge Analyst, you can view/edit records for SkillBridge Organizations, Programs, and Opportunities, and approve recently submitted changes to records from organizations and program managers.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Organization Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted organization record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOrganizationChanges">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Program Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted program record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingProgramChanges">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Opportunity Changes</h5>
                        <p class="card-text">View and approve or reject recently submitted opportunity record changes for the SkillBridge site</p>
                        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOpportunityChanges">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Pending Program Additions</h5>
        <p class="card-text">View and approve or reject newly submitted program record additions for the SkillBridge site</p>
        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingProgramAdditions">View</a>
        </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Pending Opportunity Additions</h5>
        <p class="card-text">View and approve or reject newly submitted opportunity record additions for the SkillBridge site</p>
        <a class="btn btn-primary mb-3 d-block" asp-controller="Analyst" asp-action="ListPendingOpportunityAdditions">View</a>
        </div>
        </div>
        </div>
        </div>
    }
}



